---
layout: default
title: Centrais de Cilindros
breadcrumb: Centrais de Cilindros
cssfile: produto-lista-linhas.css
description: Conheça as centrais de cilindros para gases Famabras voltadas para uso em sistemas ininterruptos.
---

{% include breadcrumb.html %}

<main class="produtos sold">
	<div class="container">
		{% include produtos-lateral.html %}
		<article class="lista">
			<h1>Centrais de Cilindros</h1>
			<ul>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-industrial.html %}" title="Centrais de Cilindros Série Industrial">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/central-de-cilindro-fcc-5205-1.jpg %}" alt="Centrais de Cilindros Série Industrial" title="Centrais de Cilindros Série Industrial">
						</div>
						<h2>Série Industrial</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-laboratorio.html %}" title="Centrais de Cilindros Série Laboratório">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/central-de-cilindro-fcc-5205-laboratorio-1.jpg %}" alt="Centrais de Cilindros Série Laboratório" title="Centrais de Cilindros Série Laboratório">
						</div>
						<h2>Série Laboratório</h2>
					</a>
				</li>
			</ul>
		</article>
	</div>
</main>