---
layout: default
title: Conjuntos de Solda
breadcrumb: Conjuntos de Solda
cssfile: produto-lista-linhas.css
description: Conjutos de solda portáteis para gases Oxi-Acetileno e Oxi-GLP ideais para manutenção industrial e refrigeração
---

{% include breadcrumb.html %}

<main class="produtos sold">
	<div class="container">
		{% include produtos-lateral.html %}
		<article class="lista">
			<h1>Conjuntos de Solda</h1>
			<ul>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/conjuntos-de-solda/serie-millennium.html %}" title="Série Millennium">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/conjunto-de-solda-oxi-acetileno-ri-1.jpg %}" alt="Série Millennium" title="Série Millennium">
						</div>
						<h2>Série Millennium</h2>
					</a>
				</li>
			</ul>
		</article>
	</div>
</main>