---
layout: default
title: Maçaricos
breadcrumb: Maçaricos
cssfile: produto-lista-linhas.css
description: Linha completa de maçaricos de solda, maçaricos de corte e acessórios, como válvula corta chama e registro dupla saída
---

{% include breadcrumb.html %}

<main class="produtos sold">
	<div class="container">
		{% include produtos-lateral.html %}
		<article class="lista">
			<h1>Maçaricos</h1>
			<ul>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/macaricos/solda.html %}" title="Maçaricos para solda">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/macarico-de-solda-fma-200-1.jpg %}" alt="Maçaricos para solda" title="Maçaricos para solda">
						</div>
						<h2>Solda</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/macaricos/corte.html %}" title="Maçaricos para corte">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/macarico-fmc-531-1.jpg %}" alt="Maçaricos para corte" title="Maçaricos para corte">
						</div>
						<h2>Corte</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/macaricos/cabeca-cortadora.html %}" title="Cabeça cortadora para maçarico de solda">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/cabeca-cortadora-fmcc-201-1.jpg %}" alt="Cabeça cortadora para maçarico de solda" title="Cabeça cortadora para maçarico de solda">
						</div>
						<h2>Cabeça Cortadora</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/macaricos/acessorios.html %}" title="Acessórios para Maçaricos">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/macaricos-acessorios-extensao-de-aquecimento-1.jpg %}" alt="Acessórios para Maçaricos" title="Acessórios para Maçaricos">
						</div>
						<h2 class="novo">Acessórios</h2>
					</a>
				</li>
			</ul>
		</article>
	</div>
</main>