---
layout: default
title: Manômetros
description: Linha completa de manômetros fabricados conforme norma ABNT para diversos usos, como industrial, petroquímico, refrigeração e muito mais.
breadcrumb: Manômetros
cssfile: produto-lista-linhas.css
---

{% include breadcrumb.html %}

<main class="produtos pres">
	<div class="container">
		{% include produtos-lateral.html %}
		<article class="lista">
			<h1>Manômetros</h1>
			<p>Manômetros fabricados em conformidade com a norma ABNT NBR14105-1. Possuem ampla aplicação, como <a href="{{ site.baseurl }}{% link _produtos/manometros/standard.html %}" title="Linha de Manômetros Standard">industrial</a>, <a href="{{ site.baseurl }}{% link _produtos/manometros/petroquimica.html %}" title="Linha de Manômetros Petroquímica">petroquímica</a>, <a href="{{ site.baseurl }}{% link _produtos/manometros/refrigeracao.html %}" title="Linha de Manômetros para Refrigeração">refrigeração</a> e <a href="{{ site.baseurl }}{% link _produtos/manometros/laboratorio.html %}" title="Linha de Manômetros para Laboratório">laboratório</a>.</p>
			<ul>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/standard.html %}" title="Linha de Manômetros Standard">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fs-100-160-200-1.jpg %}" alt="Linha de Manômetros Standard" title="Linha de Manômetros Standard">
						</div>
						<h2>Linha Standard</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/refrigeracao.html %}" title="Linha de Manômetros para Refrigeração">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fabsr-62-1.jpg %}" alt="Manômetros Linha Refrigeração" title="Manômetros Linha Refrigeração">
						</div>
						<h2>Linha Refrigeração</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/painel.html %}" title="Linha de Manômetros Painel Uso Geral">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fabsp-52-60-62-1.jpg %}" alt="Linha de Manômetros Painel Uso Geral" title="Linha de Manômetros Painel Uso Geral">
						</div>
						<h2>Linha Painel - Uso geral</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/industrial-baixa-pressao.html %}" title="Linha de Manômetros Industriais de Baixa Pressão">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fsc-62-100-160-1.jpg %}" alt="Linha de Manômetros Industriais de Baixa Pressão" title="Linha de Manômetros Industriais de Baixa Pressão">
						</div>
						<h2>Linha Industrial Baixa pressão</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/transmissao-mecanica.html %}" title="Linha de Manômetros Transmissão Mecânica">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-transmissao-mecanica-ftm-160-1-flange-100mm-1.jpg %}" alt="Linha de Manômetros Transmissão Mecânica" title="Linha de Manômetros Transmissão Mecânica">
						</div>
						<h2 class="novo">Linha Transmissão Mecânica</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/laboratorio.html %}" title="Linha de Manômetros para Laboratório">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fpi-160-1.jpg %}" alt="Linha de Manômetros para Laboratório" title="Linha de Manômetros para Laboratório">
						</div>
						<h2>Linha Laboratório</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/petroquimica.html %}" title="Linha de Manômetros Petroquímica">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fif-114-1.jpg %}" alt="Linha de Manômetros Petroquímica" title="Linha de Manômetros Petroquímica">
						</div>
						<h2>Linha Petroquímica</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/diferencial.html %}" title="Linha de Manômetros Diferencial">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-fdib-114-160-1.jpg %}" alt="Linha de Manômetros Diferencial" title="Linha de Manômetros Diferencial">
						</div>
						<h2>Linha Diferencial</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios.html %}" title="Acessórios para Manômetros">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/manometro-selo-1.jpg %}" alt="Acessórios para Manômetros" title="Acessórios para Manômetros">
						</div>
						<h2>Acessórios</h2>
					</a>
				</li>
			</ul>
		</article>
	</div>
</main>