---
layout: default
title: Reguladores de Pressão
breadcrumb: Reguladores de Pressão
cssfile: produto-lista-linhas.css
description: Linha completa de regulador de pressão, como para uso industrial, medicinal, alta pressão, alta vazão, etc. bem como acessórios
---

{% include breadcrumb.html %}

<main class="produtos sold">
	<div class="container">
		{% include produtos-lateral.html %}
		<article class="lista">
			<h1>Reguladores de Pressão</h1>
			<ul>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-ri-industrial.html %}" title="Reguladores de Pressão Série RI - Industrial">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-ri-03p-acetileno-1.jpg %}" alt="Reguladores de Pressão Série RI - Industrial" title="Reguladores de Pressão Série RI - Industrial">
						</div>
						<h2>Série RI - Industrial</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-10-ar-comprimido.html %}" title="Reguladores de Pressão Série 10 - Ar Comprimido">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frac-10a-1.jpg %}" alt="Reguladores de Pressão Série 10 - Ar Comprimido" title="Reguladores de Pressão Série 10 - Ar Comprimido">
						</div>
						<h2>Série 10 - Ar Comprimido</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-glp.html %}" title="Reguladores de Pressão Série GLP / Gás Natural">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frg-100b-1.jpg %}" alt="Reguladores de Pressão Série GLP / Gás Natural" title="Reguladores de Pressão Série GLP / Gás Natural">
						</div>
						<h2>Série GLP / Gás Natural</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/economizador-de-gas.html %}" title="Economizador de Gás">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/economizador-de-gas-freg-180-1.jpg %}" alt="Economizador de Gás" title="Economizador de Gás">
						</div>
						<h2>Economizador de Gás</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-100.html %}" title="Reguladores de Pressão Série 100">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frag-130n-1.jpg %}" alt="Reguladores de Pressão Série 100" title="Reguladores de Pressão Série 100">
						</div>
						<h2>Série 100</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-200-posto.html %}" title="Reguladores de Pressão Série 200 - Posto">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frag-230b-1.jpg %}" alt="Reguladores de Pressão Série 200 - Posto" title="Reguladores de Pressão Série 200 - Posto">
						</div>
						<h2>Série 200 - Posto</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-300-duplo-estagio.html %}" title="Reguladores de Pressão Série 300 - Duplo Estágio">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frn-342-1.jpg %}" alt="Reguladores de Pressão Série 300 - Duplo Estágio" title="Reguladores de Pressão Série 300 - Duplo Estágio">
						</div>
						<h2>Série 300 - Duplo Estágio</h2></a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-laboratorio.html %}" title="Reguladores de Pressão Série Laboratório">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frl-500-pistao-1.jpg %}" alt="Reguladores de Pressão Série Laboratório" title="Reguladores de Pressão Série Laboratório">
						</div>
						<h2>Série Laboratório</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-fluxometro.html %}" title="Reguladores de Pressão Série com Fluxômetro">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frag-630b-1.jpg %}" alt="Reguladores de Pressão Série com Fluxômetro" title="Reguladores de Pressão Série com Fluxômetro">
						</div>
						<h2>Série com Fluxômetro</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-medicinal.html %}" title="Reguladores de Pressão Série Medicinal">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frm-615-1.jpg %}" alt="Reguladores de Pressão Série Medicinal" title="Reguladores de Pressão Série Medicinal">
						</div>
						<h2>Série Medicinal</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-alta-pressao.html %}" title="Reguladores de Pressão Série Alta Pressão">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-fro-716-1.jpg %}" alt="Reguladores de Pressão Série Alta Pressão" title="Reguladores de Pressão Série Alta Pressão">
						</div>
						<h2>Série Alta Pressão</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-alta-vazao.html %}" title="Reguladores de Pressão Série Alta Vazão">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frx-890b-1.jpg %}" alt="Reguladores de Pressão Série Alta Vazão" title="Reguladores de Pressão Série Alta Vazão">
						</div>
						<h2>Série Alta Vazão</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/acessorios.html %}" title="Acessórios para Reguladores de Pressão">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-registro-1.jpg %}" alt="Acessórios para Reguladores de Pressão" title="Acessórios para Reguladores de Pressão">
						</div>
						<h2 class="novo">Acessórios</h2>
					</a>
				</li>
			</ul>
		</article>
	</div>
</main>