---
layout: default
title: Termômetros
breadcrumb: Termômetros
cssfile: produto-lista-linhas.css
description: Linha completa de termômetros para diversos uso, como industrial, petroquímico, refrigeração, etc. e acessórios
---

{% include breadcrumb.html %}

<main class="produtos temp">
	<div class="container">
		{% include produtos-lateral.html %}
		<article class="lista">
			<h1>Termômetros</h1>
			<ul>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-industrial.html %}" title="Linha de Termômetros Bimetal Industrial">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-fts-52-62-80-1.jpg %}" alt="Linha de Termômetros Bimetal Industrial" title="Linha de Termômetros Bimetal Industrial">
						</div>
						<h2>Linha Bimetal Industrial</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-frigorifico.html %}" title="Linha de Termômetros Bimetal Frigorífico">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-ftf-33-41-52-1.jpg %}" alt="Linha de Termômetros Bimetal Frigorífico" title="Linha de Termômetros Bimetal Frigorífico">
						</div>
						<h2>Linha Bimetal Frigorífico</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-petroquimica.html %}" title="Linha de Termômetros Bimetal Petroquímica">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-fti-100-114-160-1.jpg %}" alt="Linha de Termômetros Bimetal Petroquímica" title="Linha de Termômetros Bimetal Petroquímica">
						</div>
						<h2>Linha Bimetal Petroquímica</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-inox.html %}"  title="Linha de Termômetros Capilar Inox">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-ftci-114-3-1.jpg %}" alt="Linha de Termômetros Capilar Inox" title="Linha de Termômetros Capilar Inox">
						</div>
						<h2>Linha Capilar Inox</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-industrial.html %}" title="Linha de Termômetros Capilar Industrial">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-ftcrp-52-60-62-80-100-96x96-1.jpg %}" alt="Linha de Termômetros Capilar Industrial" title="Linha de Termômetros Capilar Industrial">
						</div>
						<h2>Linha Capilar Industrial</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-refrigeracao.html %}" title="Linha de Termômetros Capilar Refrigeração">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-ifcabs-52-60-1.jpg %}" alt="Linha de Termômetros Capilar Refrigeração" title="Linha de Termômetros Capilar Refrigeração">
						</div>
						<h2>Linha Capilar Refrigeração</h2>
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}{% link _produtos/termometros/acessorios.html %}" title="Acessórios para Termômetros">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/termometro-poco-1.jpg %}" alt="Acessórios para Termômetros" title="Acessórios para Termômetros">
						</div>
						<h2 class="novo">Acessórios</h2>
					</a>
				</li>
			</ul>
		</article>
	</div>
</main>