---
title: Recomendações de Uso e Instalação de Manômetros
breadcrumb: Recomendações de uso e instalação
description: Recomendações de uso e instalação dos manômetros Famabras confere maior durabilidade e confiabilidade dos instrumentos.
layout: produto-info
---
<article>
	<section>
		<h1>Recomendações de Uso e Instalação de Manômetros</h1>
	
		<h2>Tipos de Montagem</h2>
		<p>Os <a href="{{ site.baseurl }}{% link _produtos/manometros.html %}" title="Linhas de Manômetros Famabras">manômetros</a> fabricados pela Famabras podem ser fixados diretamente ao processo ou equipamento com saída vertical (reto) ou horizontal (angular). Também podem ser fixados em painéis através de flanges dianteiras (embutidos e fixados com parafusos ou garras internas) ou flanges traseiras (sobrepostos com parafusos). Em casos de processos específicos podem ser adaptados a <a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios/001-selo-diafragma-industrial-e-sanitario.html %}" title="Selo Diafragma Industrial e Sanitário para Manômetro">selos com diafragma</a>, <a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios/004-tubo-sifao.html %}" title="Tubos Tipo Sifão para Manômetro">tubos tipo sifão</a> e <a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios.html %}" title="Acessórios para Manômetro">outros</a>.</p>
	
		<h2>Conexões</h2>
		<p>As roscas para manômetros podem ser:</p>
		<dl class="m">
			<dt>Cônicas</dt>
			<dd>Onde a vedação é feita através da própria rosca podendo ser utilizado fita, pasta ou trava rosca como elemento auxiliar, tomando cuidado com a compatibilidade ao fluido do processo.</dd>
			<dt>Paralelas</dt>
			<dd>Onde a vedação é feita na face da conexão através de guarnição ou anel o´ring.</dd>
			<dt>Refrigeração</dt>
			<dd>Onde a vedação é feita com porca louca em tubos flangeados.</dd>
		</dl>
		<p>Os tipos mais comuns de roscas utilizadas nestes instrumentos são:</p>
		<dl class="l">
			<dt>NPT e BSPT</dt>
			<dd>Cônicas</dd>
			<dt>BSP e Métrica</dt>
			<dd>Paralelas</dd>
			<dt>UNF</dt>
			<dd>Para refrigeração</dd>
		</dl>
		
		<h2>Escalas de pressão e classes de precisão</h2>
		<p>A faixa de pressão ideal para um manômetro é de 2 vezes a pressão de trabalho, afim de se obter maior vida útil e melhor precisão do instrumento. No entanto, estando a faixa de operação entre 25 e 75% da escala do instrumento, o resultado será satisfatório.</p>
		<p>Para aplicações com pressão alternada e com pulsação, recomenda-se que a pressão de trabalho não exceda 2/3 da escala do manômetro. Além da escala, é necessário especificar a classe de precisão, que varia entre 4% à 0,25% do fundo de escala, de acordo com os tipos e diâmetros. Instrumentos com diâmetros maiores podem ser fabricados com melhores níveis de precisão.</p>
		
		<h2>Condições de uso e desgaste do instrumento</h2>
		<p>Para aplicações em que o instrumento sofra pulsações, vibrações, choques ou flutuações adversas, recomenda-se o uso de parafusos restritores e/ou <a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios/005-amortecedor-de-pulsacao.html %}" title="Amortecedor de Pulsação para Manômetro">amortecedores de pressão ou pulsação</a> ou protetores de sobrepressão.</p>
		<p>Adicionalmente, os manômetros com enchimento líquido aumentam a vida útil nestas condições. O líquido padronizado para enchimento em manômetros, na Famabras, é glicerina, podendo ser opcionalmente silicone.</p>

		<h2>Componentes internos</h2>
		<p>Um dos pontos críticos na especificação de um manômetro é a seleção dos materiais que compõem os internos. Vários fatores implicam nesta seleção, mas os principais são: a característica e temperatura do fluído do processo e as condições ambientais de operação. Se o elemento sensor do instrumento for exposto diretamente ao meio a ser medido, devem ser consideradas as características deste agente. Ele pode ser corrosivo, solidificar-se a temperaturas variadas ou conter sólidos que deixem resíduos depositados no elemento sensor.</p>
		<p>Para fluídos de pressão, que não venham a solidificar-se sob condições normais ou deixar depósitos, um manômetro de tubo bourdon é aceitável. Em outras condições, deve ser usado um manômetro com transmissão mecânica ou manômetro com selo.</p>
		<p>Acesse nossa <a href="{{ site.baseurl }}{% link pdf/manometros-relacao-de-fluidos-e-materiais.pdf %}" rel="nofollow" target="_blank" title="Relação de Fluidos e Materiais">tabela de compatibilidade química</a> entre os materiais dos componentes dos manômetros e alguns elementos ou fluídos químicos mais comuns.</p>
		<p><a href="{{ site.baseurl }}{% link pdf/manometros-recomendacoes-uso-e-instalacao.pdf %}" rel="nofollow" target="_blank" title="Recomendações de uso e instalação de manômetros em PDF">Versão em PDF</a></p>
		<br>
	</section>
</article>