---
permalink: /catalogos/
title: Catálogos
description: Catálogos de pressão, temperatura e soldagem disponíveis para download. Acesse e baixe.
---
<main class="catalogos">
	<section>
		<div class="container">
			<h1>Catálogos</h1>
			<article>
				<div class="row">
					<div class="col-m-3 col-s-4">
						<h2>Pressão</h2>
						<a href="{{ site.baseurl }}{% link pdf/catalogo-pressao.pdf %}" rel="nofollow" target="_blank"  title="Catálogo de Produtos - Pressão">
							<img src="{{ site.baseurl }}{% link imagens/catalogo-pressao.jpg %}"  alt="Catálogo Pressão" title="Catálogo de Produtos - Pressão">
						</a>
					</div>
					<div class="col-m-3 col-s-4">
						<h2>Temperatura</h2>
						<a href="{{ site.baseurl }}{% link pdf/catalogo-temperatura.pdf %}" rel="nofollow" target="_blank" title="Catálogo de Produtos - Temperatura">
							<img src="{{ site.baseurl }}{% link imagens/catalogo-temperatura.jpg %}" alt="Catálogo Temperatura" title="Catálogo de Produtos - Temperatura">
						</a>
					</div>
					<div class="col-m-3 col-s-4">
						<h2>Soldagem</h2>
						<a href="{{ site.baseurl }}{% link pdf/catalogo-soldagem.pdf %}" rel="nofollow" target="_blank" title="Catálogo de Produtos - Soldagem">
							<img src="{{ site.baseurl }}{% link imagens/catalogo-soldagem.jpg %}" alt="Catálogo Soldagem" title="Catálogo de Produtos - Soldagem">
						</a>
					</div>
					<div class="col-m-3 col-s-4">
						<h2>Chopp / Post-Mix</h2>
						<a href="{{ site.baseurl }}{% link pdf/folder-chopp-e-post-mix.pdf %}" rel="nofollow" target="_blank" title="Folder Chopp e Post-Mix">
							<img src="{{ site.baseurl }}{% link imagens/folder-chopp-e-post-mix.jpg %}" alt="Folder Chopp e Post-Mix" title="Folder Chopp e Post-Mix">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-m-3 col-s-4">
						<h2>Folder Soldagem</h2>
						<a href="{{ site.baseurl }}{% link pdf/folder-soldagem.pdf %}" rel="nofollow" target="_blank" title="Folder Soldagem">
							<img src="{{ site.baseurl }}{% link imagens/folder-soldagem.jpg %}" alt="Folder Soldagem" title="Folder Soldagem">
						</a> 
					</div>
				</div>
			</article>
		</div>
	</section>
</main>
<br>