---
permalink: /contato/
description: Entre em contato conosco. Conheça nossos canais de atendimento e venha nos fazer uma visita.
title: Contato
---
<main class="contato">
	<section>
		<div class="container">
			<h1>Contato</h1>
			<div class="row">
				<div class="col-m-4">
					<h2 style="margin-top:0;">Telefone</h2>
					<address>
						<a class="tel" rel="nofollow" title="Ligue para a Famabras" href="tel:+551146461100"><span class="fa fa-phone"></span><span class="telefone-completo">+55 (11) 4646-1100</span></a>
					</address>
					<h2>Vendas</h2>
					<address>
						<a class="tel" rel="nofollow" title="Ligue para nossa equipe de vendas" href="tel:+551146461101"><span class="fa fa-phone"></span><span class="telefone-completo">+55 (11) 4646-1101</span></a>
						<br>
						<a class="mail" rel="nofollow" title="Envie um e-mail para vendas@famabras.com.br" href="mailto:vendas@famabras.com.br"><span class="fa fa-mail"></span>vendas@famabras.com.br</a>
					</address>
					<h2>Endereço</h2>
					<address>
						Rua do Aço, 658, Vila Industrial<br>Itaquaquecetuba - SP - Brasil<br>CEP: 08586-210
					</address>
				</div>
				<div class="col-m-8">
					<iframe height="450" style="border:0; width:100%"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAWBwJTs3B_ZCDiVMjKLZf1O2Qlk-HwLoY&q=place_id:ChIJuYv9jQJ9zpQR1Pbh8-Q4coc" allowfullscreen>
					</iframe>
				</div>
			</div>
		</div>
	</section>
</main>