---
permalink: /empresa/
title: Sobre a Famabras
description: Empresa certificada INMETRO e ISO 9001. Conta com um complexo industrial com mais de 12.000m² para a fabricação de seus produtos.
---
<main class="empresa">
	<section class="topo">
		<div class="container">
			<h1>Empresa</h1>
			<p>Venha conhecer nosso complexo industrial com mais de 12.000m²</p>

			<img style="width: 100%;" src="{{ site.baseurl }}{% link imagens/empresa-vista-aerea.jpg %}" alt="Vista aérea do complexo industrial Famabras">
			<p>A Famabras é uma empresa de capital 100% nacional, atuando na fabricação de Instrumentos para monitoramento e controle nas áreas de pressão, temperatura e equipamentos destinados a processos de aquecimento, soldagem, corte e controle de gases comprimidos, e ainda possui laboratório de pressão acreditado CGCRE para emissão de certificados de calibração.</p>
			<p>Fundada em 1965, é composta por sociedade ltda, atuando diretamente na empresa buscando manter a liderança no segmento com investimentos constantes em qualidade, tecnologia e principalmente em manter um quadro de colaboradores motivados e treinados para atender as expectativas de nossos clientes.</p>
		
			<div class="row">
				<div class="col-m-6">
					<h2>Missão</h2>
					<p>Satisfazer as necessidades dos clientes, desenvolvendo, produzindo e comercializando produtos e serviços (pressão/temperatura/soldagem) com qualidade e pontualidade.</p>
				</div>
				<div class="col-m-6">
					<h2>Visão</h2>
					<p>Ser uma empresa diferenciada pela qualidade e competitividade, mantendo a liderança nos nossos segmentos.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-m-6">
					<h2>Crença</h2>
					<p>Continuidade na excelência no atendimento ao cliente, trabalhando em equipe com responsabilidade social e ambiental, buscando sempre o avanço tecnológico e competitividade.</p>
				</div>
				<div class="col-m-6">
					<h2>Valores</h2>
					<p>Satisfação do cliente trabalhando sempre a melhoria contínua, com responsabilidade, confiabilidade e lucratividade.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-m-12" style="margin-top: -45px !important;">
					<p><small>Doc. MVCV rev.0</small></p>
				</div>
			</div>
			<div class="row">
				<div class="col-m-6">
					<h2>Política da Qualidade</h2>
					<ul>
						<li><span class="fa-ok"></span> Satisfação contínua do cliente;</li>
						<li><span class="fa-ok"></span> Melhorar sempre;</li>
						<li><span class="fa-ok"></span> Trabalhar em equipe, com envolvimento e responsabilidade de todos;</li>
						<li><span class="fa-ok"></span> Seguir a documentação, requisitos aplicáveis e as diretrizes estabelecidas pela diretoria.</li>
					</ul>
					<p><small>Doc. PQF rev. 0</small></p>
				</div>
				<div class="col-m-6">
					<h2>Certificações</h2>
					<img src="{{ site.baseurl }}{% link /imagens/inmetro.jpg %}" alt="Logo INMETRO" title="Empresa certificada INMETRO">
					<img src="{{ site.baseurl }}{% link /imagens/sgs.jpg %}" alt="Logo SGS" title="Empresa certificada SGS ISO 9001">
				</div>
			</div>
		</div>
	</section>
</main>