---
permalink: /
title: Famabras - Soluções em Medições
cssfile: index.css
description: Fundada em 1965, a Famabras é uma empresa de capital 100% nacional, atuando na fabricação de instrumentos de pressão, temperatura e soldagem.
---
<main class="home">
	<section>
		<div class="carousel">
			<div class="carousel-cell slide2">
				<div class="container">
					<h1>Nova Linha Transmissão Mecânica</h1>
					<p>Linha de manômetro para baixa pressão com diafragma e segurança de sobre pressão 5 vezes maior do que o valor final da escala</p>
					<a href="{{ site.baseurl }}{% link _produtos/manometros/transmissao-mecanica.html %}" class="btn" title="Linha transmissão mecânica">Saiba Mais</a>
				</div>
			</div>
			<div class="carousel-cell chopp">
				<div class="container">
					<h1>Reguladores para Chopp</h1>
					<p>Reguladores e acessórios para extração de chopp, gaseificação de bebidas e sistemas post-mix</p>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix.html %}" class="btn" title="Conheça a linha completa para chopp e sistemas post-mix">Saiba Mais</a>
				</div>
			</div>
			<div class="carousel-cell slide3">
				<div class="container">
					<h1>Central de Cilindros FCC-5205</h1>
					<p>Uso industrial, soldagem, corte e aquecimento</p>
					<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-industrial.html %}" class="btn" title="Conheça a central de Cilindros FCC-5205">Saiba Mais</a>
				</div>
			</div>
			<div class="carousel-cell slide4">
				<div class="container">
					<h1>Linha de Temperatura</h1>
					<p>Linha de Termômetro Bimetal Industrial, Figorífico, Petroquímica, Capilar Inox, Industrial e Refrigeração</p>
					<a href="{{ site.baseurl }}{% link _produtos/termometros.html %}" class="btn" title="Conheça a linha completa de temperatura">Saiba Mais</a>
				</div>
			</div>
			<div class="carousel-cell slide5">
				<div class="container">
					<h1>Linha de Soldagem</h1>
					<p>Reguladores de Pressão, Maçaricos e Conjuntos de Solda</p>
					<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao.html %}" class="btn" title="Conheça a linha de soldagem">Saiba Mais</a>
				</div>
			</div>
		</div>	
	</section>
	<section class="meio">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h1>Empresa</h1><img src="{{ site.baseurl }}{% link /imagens/vista-aerea.jpg %}" alt="Vista aérea da Famabras" title="Vista aérea da Famabras">
					<p>Fundada em <strong>1965</strong>, a Famabras é uma empresa de capital 100% nacional, atuando na fabricação de Instrumentos para monitoramento e controle nas áreas de pressão, temperatura e equipamentos destinados a processos de aquecimento, soldagem, corte e controle de gases comprimidos.</p><a href="{{ site.baseurl }}{% link empresa.html %}" class="btn" title="Conheça a Famabras">Conheça a Famabras</a>
				</div>
				<div class="col-6">
					<h1>Serviços</h1><img src="{{ site.baseurl }}{% link /imagens/laboratorio-acreditado.jpg %}" alt="Laboratório acreditado INMETRO CGCRE" title="Laboratório acreditado INMETRO CGCRE">
					<p>Equipe técnica especializada atua preventivamente no pós vendas eliminando dúvidas e propondo alternativas com melhor custo/benefício na utilização de nossos produtos para atingir a eficiência esperada. Conta com laboratório de pressão acreditado CGCRE conforme norma NBR ISO/IEC 17025.</p><a href="{{ site.baseurl }}{% link servicos.html %}" class="btn" title="Conheça nossos serviços">Conheça nossos serviços</a>
				</div>
			</div>
		</div>
	</section>
	<style>
	</style>
	<section class="video-famabras">
		<div>
			<h1><a href="#video-modal">Assista ao nosso vídeo institucional<br><span class="fa-play-circled2"></span></a></h1>
			<div id="video-modal">
				<div>
					<a href="#a" title="Fechar" class="modal-close" onClick="pauseV();"><span class="fa-cancel"></span></a>
					<video id="video" width="100%" height="100%" controls>
						<source src="{{ site.baseurl }}{% link /videos/famabras.mp4 %}" type="video/mp4">
						Seu navegador não suporta execução de vídeos nativamente.
					</video>
				</div>
			</div>
		</div>
	</section>
	<section class="produtos">
		<div class="container">
			<h1>Linha de Produtos</h1>
			<div class="row primeiro">
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/manometros.html %}" title="Linha de Manômetros">Manômetros</a></h2>
					<p>Linha completa de manômetros e vacuômetros para uso petroquímico, industrial, refrigeração e muito mais.</p>
				</div>
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/termometros.html %}" title="Linha de Termômetros">Termômetros</a></h2>
					<p>Ampla linha de termômetros bimetal e capilar para uso petroquímico, industrial, refrigeração, frigorífico e mais.</p>
				</div>
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao.html %}" title="Linha de Reguladores de Pressão">Reguladores de Pressão</a></h2>
					<p>Linha completa de reguladores de pressão para uso industrial, medicinal, laboratório e muito mais.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix.html %}" title="Linha Chopp / Post-Mix">Chopp / Post-Mix</a></h2>
					<p>Reguladores e acessórios para extração de chopp, gaseificação de bebidas e sistemas post-mix</p>
				</div>
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros.html %}" title="Linha de Centrais de Cilindros">Centrais de Cilindros</a></h2>
					<p>Centrais de cilindros para gases industriais com dois ou mais cilindros usados em sistemas ininterruptos</p>
				</div>
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/macaricos.html %}" title="Linha de Maçaricos" class="novo">Maçaricos</a></h2>
					<p>Maçaricos de solda e corte, leves e versáteis, usados nas mais variadas indústrias</p>
				</div>
			</div>
			<div class="row">
				<div class="col-m-4">
					<h2><span class="fa-ok"></span><a href="{{ site.baseurl }}{% link _produtos/conjuntos-de-solda.html %}" title="Linha de Conjuntos de Solda">Conjuntos de Solda</a></h2>
					<p>Equipamentos portáteis ideais para uso em setores de manutenção industrial e refrigeração</p>
				</div>
			</div>
		</div>
	</section>
</main>
<script>
{%- include slider.js -%}
document.addEventListener('DOMContentLoaded', function () {
	var flkty = new Flickity( '.carousel', {
		contain: true,
		wrapAround: true,
		autoPlay: false
	});
});

var v = document.getElementById("video");

function pauseV() { 
    v.pause(); 
} 

</script>