---
permalink: /linha-de-produtos/
title: Linha de Produtos
breadcrumb: Linha de Produtos
cssfile: linha-de-produtos.css
description: Linha completa de manômetros, termômetros, reguladores de pressão, maçaricos e conjuntos de solda.
---
{% include breadcrumb.html %}

<main>
	<div class="container">
		{% include produtos-lateral.html %}
		<article>
			<h1>Linha de Produtos</h1>
			<section class="pres">
				<h2>Manômetros</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/standard.html %}" title="Linha de Manômetros Standard">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fs-100-160-200-t2.jpg %}" alt="Linha de Manômetros Standard" title="Linha de Manômetros Standard">
							</div>
							<h3>Linha Standard</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/refrigeracao.html %}" title="Linha de Manômetros para Refrigeração">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fabsr-62-t2.jpg %}" alt="Manômetros Linha Refrigeração" title="Manômetros Linha Refrigeração">
							</div>
							<h3>Linha Refrigeração</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/painel.html %}" title="Linha de Manômetros Painel Uso Geral">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fabsp-52-60-62-t2.jpg %}" alt="Linha de Manômetros Painel Uso Geral" title="Linha de Manômetros Painel Uso Geral">
							</div>
							<h3>Linha Painel - Uso geral</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/industrial-baixa-pressao.html %}" title="Linha de Manômetros Industriais de Baixa Pressão">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fsc-62-100-160-t2.jpg %}" alt="Linha de Manômetros Industriais de Baixa Pressão" title="Linha de Manômetros Industriais de Baixa Pressão">
							</div>
							<h3>Linha Industrial - Baixa pressão</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/laboratorio.html %}" title="Linha de Manômetros para Laboratório">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fpi-160-t2.jpg %}" alt="Linha de Manômetros para Laboratório" title="Linha de Manômetros para Laboratório">
							</div>
							<h3>Linha Laboratório</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/petroquimica.html %}" title="Linha de Manômetros Petroquímica">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fif-114-t2.jpg %}" alt="Linha de Manômetros Petroquímica" title="Linha de Manômetros Petroquímica">
							</div>
							<h3>Linha Petroquímica</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/diferencial.html %}" title="Linha de Manômetros Diferencial">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-fdib-114-160-t2.jpg %}" alt="Linha de Manômetros Diferencial" title="Linha de Manômetros Diferencial">
							</div>
							<h3>Linha Diferencial</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios.html %}" title="Acessórios para Manômetros">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/manometro-selo-t2.jpg %}" alt="Acessórios para Manômetros" title="Acessórios para Manômetros">
							</div>
							<h3>Acessórios</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="temp">
				<h2>Termômetros</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-industrial.html %}" title="Linha de Termômetros Bimetal Industrial">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-fts-52-62-80-t2.jpg %}" alt="Linha de Termômetros Bimetal Industrial" title="Linha de Termômetros Bimetal Industrial">
							</div>
							<h3>Linha Bimetal Industrial</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-frigorifico.html %}" title="Linha de Termômetros Bimetal Frigorífico">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-ftf-33-41-52-t2.jpg %}" alt="Linha de Termômetros Bimetal Frigorífico" title="Linha de Termômetros Bimetal Frigorífico">
							</div>
							<h3>Linha Bimetal Frigorífico</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-petroquimica.html %}" title="Linha de Termômetros Bimetal Petroquímica">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-fti-100-114-160-t2.jpg %}" alt="Linha de Termômetros Bimetal Petroquímica" title="Linha de Termômetros Bimetal Petroquímica">
							</div>
							<h3>Linha Bimetal Petroquímica</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-inox.html %}"  title="Linha de Termômetros Capilar Inox">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-ftci-114-3-t2.jpg %}" alt="Linha de Termômetros Capilar Inox" title="Linha de Termômetros Capilar Inox">
							</div>
							<h3>Linha Capilar Inox</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-industrial.html %}" title="Linha de Termômetros Capilar Industrial">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-ftcrp-52-60-62-80-100-96x96-t2.jpg %}" alt="Linha de Termômetros Capilar Industrial" title="Linha de Termômetros Capilar Industrial">
							</div>
							<h3>Linha Capilar Industrial</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-refrigeracao.html %}" title="Linha de Termômetros Capilar Refrigeração">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-ifcabs-52-60-t2.jpg %}" alt="Linha de Termômetros Capilar Refrigeração" title="Linha de Termômetros Capilar Refrigeração">
							</div>
							<h3>Linha Capilar Refrigeração</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link pdf/termometros-acessorios.pdf %}" rel="nofollow" target="_blank" title="Acessórios para Termômetros">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/termometro-poco-t2.jpg %}" alt="Acessórios para Termômetros" title="Acessórios para Termômetros">
							</div>
							<h3>Acessórios</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="sold">
				<h2>Reguladores de Pressão</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-ri-industrial.html %}" title="Reguladores de Pressão Série RI - Industrial">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-fra-103n-t2.jpg %}" alt="Reguladores de Pressão Série RI - Industrial" title="Reguladores de Pressão Série RI - Industrial">
						</div>
						<h3>Série RI - Industrial</h3>
					</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-10-ar-comprimido.html %}" title="Reguladores de Pressão Série 10 - Ar Comprimido">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frac-10a-t2.jpg %}" alt="Reguladores de Pressão Série 10 - Ar Comprimido" title="Reguladores de Pressão Série 10 - Ar Comprimido">
							</div>
							<h3>Série 10 - Ar Comprimido</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-glp.html %}" title="Reguladores de Pressão Série GLP / Gás Natural">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frg-100b-t2.jpg %}" alt="Reguladores de Pressão Série GLP / Gás Natural" title="Reguladores de Pressão Série GLP / Gás Natural">
							</div>
							<h3>Série GLP / Gás Natural</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/economizador-de-gas.html %}" title="Economizador de Gás">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/economizador-de-gas-freg-180-t2.jpg %}" alt="Economizador de Gás" title="Economizador de Gás">
							</div>
							<h3>Economizador de Gás</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-100.html %}" title="Reguladores de Pressão Série 100">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frag-130n-t2.jpg %}" alt="Reguladores de Pressão Série 100" title="Reguladores de Pressão Série 100">
							</div>
							<h3>Série 100</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-200-posto.html %}" title="Reguladores de Pressão Série 200 - Posto">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frag-230b-t2.jpg %}" alt="Reguladores de Pressão Série 200 - Posto" title="Reguladores de Pressão Série 200 - Posto">
							</div>
							<h3>Série 200 - Posto</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-300-duplo-estagio.html %}" title="Reguladores de Pressão Série 300 - Duplo Estágio">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frn-342-t2.jpg %}" alt="Reguladores de Pressão Série 300 - Duplo Estágio" title="Reguladores de Pressão Série 300 - Duplo Estágio">
							</div>
							<h3>Série 300 - Duplo Estágio</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-laboratorio.html %}" title="Reguladores de Pressão Série Laboratório">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frl-500-pistao-t2.jpg %}" alt="Reguladores de Pressão Série Laboratório" title="Reguladores de Pressão Série Laboratório">
							</div>
							<h3>Série Laboratório</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-fluxometro.html %}" title="Reguladores de Pressão Série com Fluxômetro">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frag-630b-t2.jpg %}" alt="Reguladores de Pressão Série com Fluxômetro" title="Reguladores de Pressão Série com Fluxômetro">
							</div>
							<h3>Série com Fluxômetro</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-medicinal.html %}" title="Reguladores de Pressão Série Medicinal">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frm-615-t2.jpg %}" alt="Reguladores de Pressão Série Medicinal" title="Reguladores de Pressão Série Medicinal">
							</div>
							<h3>Série Medicinal</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-alta-pressao.html %}" title="Reguladores de Pressão Série Alta Pressão">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-fro-716-t2.jpg %}" alt="Reguladores de Pressão Série Alta Pressão" title="Reguladores de Pressão Série Alta Pressão">
							</div>
							<h3>Série Alta Pressão</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-alta-vazao.html %}" title="Reguladores de Pressão Série Alta Vazão">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-frx-890b-t2.jpg %}" alt="Reguladores de Pressão Série Alta Vazão" title="Reguladores de Pressão Série Alta Vazão">
							</div>
							<h3>Série Alta Vazão</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link pdf/reguladores-de-pressao-acessorios.pdf %}" rel="nofollow" target="_blank" title="Acessórios para Reguladores de Pressão">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-registro-t2.jpg %}" alt="Acessórios para Reguladores de Pressão" title="Acessórios para Reguladores de Pressão">
							</div>
							<h3>Acessórios</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="sold">
				<h2>Chopp</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix/serie-400.html %}" title="Reguladores de pressão para chopp e sistema post-mix">
						<div class="img">
							<img src="{{ site.baseurl }}{% link /imagens/regulador-de-pressao-fr-420b-t2.jpg %}">
						</div>
						<h3>Reguladores Chopp e Post-Mix</h3>
					</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix/acessorios.html %}" title="Acessórios para reguladores de pressão chopp e sistema post-mix">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/valvula-extratora-tipo-s-em-latao-bico-mangueira-para-regulador-de-pressao-post-mix-e-chopp-t2.jpg %}">
							</div>
							<h3>Acessórios</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="sold">
				<h2>Centrais de Cilindros</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-industrial.html %}" title="Centrais de Cilindros Série Industrial">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/central-de-cilindro-fcc-5205-t2.jpg %}" alt="Centrais de Cilindros Série Industrial" title="Centrais de Cilindros Série Industrial">
							</div>
							<h3>Série Industrial</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-laboratorio.html %}" title="Centrais de Cilindros Série Laboratório">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/central-de-cilindro-fcc-5205-laboratorio-t2.jpg %}" alt="Centrais de Cilindros Série Laboratório" title="Centrais de Cilindros Série Laboratório">
							</div>
							<h3>Série Laboratório</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="sold">
				<h2>Maçaricos</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/solda.html %}" title="Maçaricos para solda">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/macarico-de-solda-fma-200-t2.jpg %}" alt="Maçaricos para solda" title="Maçaricos para solda">
							</div>
							<h3>Solda</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/corte.html %}" title="Maçaricos para corte">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/macarico-fmc-531-t2.jpg %}" alt="Maçaricos para corte" title="Maçaricos para corte">
							</div>
							<h3>Corte</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/cabeca-cortadora.html %}" title="Cabeça cortadora para maçarico de solda">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/cabeca-cortadora-fmcc-201-2.jpg %}" alt="Cabeça cortadora para maçarico de solda" title="Cabeça cortadora para maçarico de solda">
							</div>
							<h3>Cabeça Cortadora</h3>
						</a>
					</li>
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/acessorios.html %}" title="Acessórios para Maçaricos">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/macaricos-acessorios-extensao-de-aquecimento-2.jpg %}"  alt="Acessórios para Maçaricos" title="Acessórios para Maçaricos">
							</div>
							<h3 class="novo">Acessórios</h3>
						</a>
					</li>
				</ul>
			</section>
			<section class="sold">
				<h2>Conjuntos de Solda</h2>
				<ul class="carousel">
					<li class="carousel-cell">
						<a href="{{ site.baseurl }}{% link _produtos/conjuntos-de-solda/serie-millennium.html %}" title="Série Millennium">
							<div class="img">
								<img src="{{ site.baseurl }}{% link /imagens/conjunto-de-solda-oxi-acetileno-ri-t2.jpg %}" alt="Série Millennium" title="Série Millennium">
							</div>
							<h3>Série Millennium</h3>
						</a>
					</li>
				</ul>
			</section>
		</article>
	</div>
</main>
<script>
{%- include slider.js -%}
document.addEventListener('DOMContentLoaded', function () {
	document.querySelectorAll('.carousel');
	for (var t = document.querySelectorAll(".carousel"), e = 0;e < t.length; e++) {
		var flkty = new Flickity( t[e], {
			cellAlign: 'left',
			contain: true,
			prevNextButtons: true,
			freeScroll: true,
			pageDots: false
		});
	}
	 
});
</script>