---
permalink: /seja-um-revendedor/
description: Seja um revendedor e conheça a linha completa de produtos Famabras
title: Seja um revendedor
---

<style>
	.revendedor form input {
		margin: 8px 0;
		width: 50em;
		/*display: block;*/
		color: #495057;
		padding: .5rem .75rem;
		background-color: #fff;
		background-image: none;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: .25rem;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
</style>
<main class="revendedor">
	<section>
		<div class="container">
			<h1>Seja um revendedor</h1>

			<form method="post" action="{% link seja-um-revendedor.html %}">
				<p>
					<label for="nome">
						<span>Nome: </span>
						<strong><abbr title="Requerido">*</abbr></strong>
					</label>
					<input type="text" id="nome" name="nome" required>
				</p>

				<input type="email" name="email" id="email" autocomplete="off" placeholder="E-mail" required>
				<input type="text" name="telefone" id="telefone" autocomplete="off" placeholder="Telefone" required>
				<input type="text" name="razao-social" id="razao-social" autocomplete="off" placeholder="Razão Social" required>
				<input type="text" name="cnpj" id="cnpj" autocomplete="off" placeholder="CNPJ" required>
				<input type="text" name="cidade" id="cidade" autocomplete="off" placeholder="Cidade" required>
				<input type="text" name="estado" id="estado" autocomplete="off" placeholder="Estado" required>
				<button type="submit" class="btn">Enviar</button>
			</form>
		</div>
	</section>
</main>