---
permalink: /servicos/
title: Serviços
description: Assistência técnica e laboratório de pressão acreditado CGRE pronto para atender à sua necessidade.
---
<main class="servicos">
	<section class="topo">
		<div class="container">
			<h1>Serviços</h1>
			<p>Laboratório de Pressão acreditado pelo CGCRE</p>
			<img style="width: 100%;" src="{{ site.baseurl }}{% link imagens/servicos.jpg %}" alt="Serviços">
			
			
			<h2>Assistência Técnica</h2>
			<p>Equipe técnica especializada atua preventivamente no pós vendas eliminando dúvidas e propondo alternativas com melhor custo/benefício na utilização de nossos produtos para atingir a eficiência esperada.</p>
			<p>Executamos também serviços de manutenção em equipamentos de fabricação e comercialização Famabras com garantia de peça nova.</p>
			<p>Para maior agilidade, a Famabras possui assistência técnica autorizada em regiões fora de São Paulo, com técnicos treinados e com garantia de uso de peças originais. Nossa equipe interna poderá auxiliar indicando a melhor opção.</p>
			
			<h2>Laboratório de Pressão Acreditado CGCRE</h2>
			<p>Laboratório de pressão acreditado CGCRE conforme norma NBR ISO/IEC 17025 sob Nº CAL 0376, está apto a realizar calibrações em Manômetros, Vacuômetros e Manovacuômetros analógicos e digitais conforme escopo a seguir:</p>
			
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Faixa</th>
						<th>Capacidade de Medição<br>e Calibração (CMC)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><h3>Manômetro Analógico</h3></td>
						<td>0,196 kPa até 100 kPa<br>&gt;0,1 MPa até 0,344 MPa<br>&gt;0,344 MPa até 99,97 MPa<br>&gt;99,97 MPa até 100 MPa<br>
							Método de comparação com Balança de Pressão
							<br>Método de comparação com manômetro Padrão
						</td>
						<td style="vertical-align: top;">0,039%<br>0,051%<br>0,038%<br>0,056%</td>
					</tr>
					<tr>
						<td><h3>Manômetro Digital</h3></td>
						<td>0,196 kPa até 100 kPa<br>&gt;0,1 MPa até 0,344 MPa<br>&gt;0,344 MPa até 99,97 MPa<br>&gt;99,97 MPa até 100 MPa<br>
							Método de comparação com Balança de Pressão
							<br>Método de comparação com manômetro Padrão
						</td>
						<td style="vertical-align: top;">0,039%<br>0,051%<br>0,038%<br>0,056%</td>
					</tr>
					<tr>
						<td><h3>Vacuômetro Analógico</h3></td>
						<td>0,196 kPa até 82 kPa<br>
							Método de comparação com Balança de Pressão
							<br>Método de comparação com vacuômetro Padrão
						</td>
						<td style="vertical-align: top;">0,039%</td>
					</tr>
					<tr>
						<td><h3>Vacuômetro Digital</h3></td>
						<td>0,196 kPa até 82 kPa<br>
							Método de comparação com Balança de Pressão
							<br>Método de comparação com vacuômetro Padrão
						</td>
						<td style="vertical-align: top;">0,039%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</main>