	<div style="clear: both;"></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-s-6">
					<address>
						<strong>Famabras Indústria de Aparelhos de Medição Ltda</strong><br>Rua do Aço, 658, Vila Industrial<br>Itaquaquecetuba - SP - Brasil<br>CEP: 08586-210
					</address>
				</div>
				<div class="col-s-6 fone">
					<address>
						<a class="tel" rel="nofollow" title="Ligue para nossa equipe de vendas" href="tel:+551146461101"><span class="fa fa-phone"></span><span class="telefone-completo">+55 (11) 4646-1101</span></a>
						<br>
						<a class="mail" rel="nofollow" title="Envie um e-mail para vendas@famabras.com.br" href="mailto:vendas@famabras.com.br"><span class="fa fa-mail"></span>vendas@famabras.com.br</a>
					</address>
				</div>
			</div>
			<p class="copyright">© 1965 - 2020 - Famabras Indústria de Aparelhos de Medição Ltda</p>
		</div> 
	</footer>
</body>
</html>