<div class="container">
	{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
	<ol class="breadcrumb"> 
		{% for crumb in crumbs offset: 1 %}
			{% assign crumb_limit = forloop.index | plus: 1 %}
			{%- capture url -%}
				{%- for crumb in crumbs limit: crumb_limit -%}
					{{ crumb | append: '/' }}
				{%- endfor -%}
			{%- endcapture -%}
 			
			{%- assign last = forloop.last -%}
			{%- assign pgs = site.pages | concat: site.produtos %}
			{%- for p in pgs -%}
				{%- if p.url == url -%}
					<li>
						{%- capture txt -%}
							{%- if p.breadcrumb -%}
								{{ p.breadcrumb }}
							{%- elsif p.modelo -%}
								{{ p.modelo }}
							{%- endif -%}
						{%- endcapture -%}
						{%- if last -%}
							{{ txt }}
						{%- else -%}
							<a href="{{ site.baseurl }}{{ url }}" title="{{ txt }}">{{ txt }}</a>
						{%- endif -%}
					</li>
				{%- endif -%}
			{%- endfor -%}
		{% endfor %}
	</ol>
</div>