@charset "UTF-8";
article, aside, footer, header, nav, section {
  display: block; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 15px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #444; }

@media (min-width: 576px) {
  html {
    position: relative;
    min-height: 100%; }

  body {
    margin: 0 0 161px; }

  footer {
    position: absolute;
    bottom: 0px;
    width: 100%; } }
address {
  font-style: normal;
  line-height: 1.5em; }

li {
  line-height: 1.4em; }

small {
  font-size: 80%; }

p {
  line-height: 1.5rem; }
  p a {
    text-decoration: underline; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

ol {
  padding: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }
  h1 > .small {
    font-size: .6em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1em; }

h1, h2, h3, h4 {
  font-weight: 500;
  color: #007f00; }

.temp h1, .temp h2, .temp h3, .temp h4 {
  color: #124971; }

.sold h1, .sold h2, .sold h3, .sold h4 {
  color: #711212; }

* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 15px; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%; }

@media (min-width: 576px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media (min-width: 992px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
li {
  padding-top: .25em;
  padding-bottom: .25em; }

abbr[title] {
  text-decoration: none;
  border-bottom: none;
  cursor: help; }

a, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

p a, p a:visited, p a:active {
  color: #127112; }
p a:hover {
  text-decoration: underline; }

a.btn, button.btn {
  padding: 8px 16px;
  background-color: #007f00;
  color: #fff;
  text-shadow: gray 1px 1px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  transition: background-color .2s, box-shadow .2s;
  display: inline-block;
  border: 0; }
  a.btn:hover, button.btn:hover {
    background-color: #025202; }

.novo:after {
  content: "Novo";
  color: #fff;
  padding: .25em .4em;
  background-color: #176325;
  border-radius: .25rem;
  font-size: 65%;
  top: -.5em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  margin-left: .6em; }

.temp .novo:after {
  background-color: #124971; }

.sold .novo:after {
  background-color: #711212; }

.container {
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto; }
  .container div.row {
    margin-left: -15px;
    margin-right: -15px; }

section.verde {
  background-color: #ddd;
  color: black; }
  section.verde h1, section.verde h2 {
    color: black; }

form.search {
  padding: 12px; }
  form.search input {
    padding: 0 8px;
    border: 1px solid #127112;
    border-radius: .25rem 0 0 .25rem;
    height: 30px;
    line-height: 0;
    /*Corrige uma pequena diferença de tamanho em relação ao botão colado*/ }
  form.search button {
    border-radius: 0 .25rem .25rem 0;
    height: 30px;
    background-color: transparent;
    color: #127112;
    border: 1px solid #127112;
    border-left: 0;
    line-height: 0;
    /*Corrige uma pequena diferença de tamanho em relação ao input colado*/ }

.breadcrumb {
  font-size: .85rem; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li a:hover {
      text-decoration: underline; }
  .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "»"; }

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  z-index: 200; }
  header .sup {
    padding: 0; }
    header .sup a.brand {
      display: inline-block;
      padding: 8px 0 8px 15px; }
      header .sup a.brand img {
        height: 30px;
        width: auto;
        vertical-align: middle; }
    header .sup .fone {
      float: right; }
      header .sup .fone form {
        display: none; }
      header .sup .fone a {
        font-size: 1.2rem;
        color: #007f00;
        border-left: 1px solid #ddd;
        padding: 12px;
        margin: 0;
        display: inline-block; }
        header .sup .fone a .telefone-completo, header .sup .fone a.mail {
          display: none; }

nav.menu {
  background-color: #007f00;
  transition: height 0.5s cubic-bezier(0.35, 0.98, 0.08, 0.95); }
  nav.menu > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-left: -12px;
    margin-right: -12px; }
    nav.menu > div > ul > li a {
      display: block;
      padding: 15px 12px;
      font-weight: 500;
      color: white;
      font-size: 1rem;
      line-height: 1em;
      border-bottom: 1px solid #036703;
      transition: background-color .2s; }
      nav.menu > div > ul > li a:hover {
        background-color: #025202; }
      nav.menu > div > ul > li a.icondropdown:after {
        font-family: "font";
        font-style: normal;
        font-weight: normal;
        content: "\e804";
        float: right;
        margin-left: 0.5em; }
    nav.menu > div > ul > li > ul {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
      visibility: hidden;
      position: absolute;
      z-index: 1001;
      opacity: 0;
      margin-left: 0;
      min-width: 230px;
      transition: opacity 0.2s cubic-bezier(1, 0, 0.58, 1);
      top: 100% !important;
      left: 0 !important;
      background-color: #007f00;
      border: 1px solid #025202; }
      nav.menu > div > ul > li > ul#servicos {
        min-width: 300px; }
      nav.menu > div > ul > li > ul li a {
        line-height: 0.7em; }

@media (max-width: 767px) {
  body {
    padding-top: 47px; }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent; }
    header .sup {
      background-color: rgba(255, 255, 255, 0.96); }

  nav.menu {
    overflow: hidden; }
    nav.menu.collapsed {
      height: 0; }
    nav.menu > div > ul {
      overflow: hidden; }

  div#search-responsive {
    width: 100%;
    border-top: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
    background-color: white;
    transition: height 0.5s cubic-bezier(0.35, 0.98, 0.08, 0.95); }
    div#search-responsive.collapsed {
      height: 0; } }
@media (min-width: 768px), print {
  div#search-responsive {
    display: none; }

  header .sup a.brand img {
    height: 52px;
    width: auto; }
  header .sup .fone form {
    display: inline-block; }
  header .sup .fone a {
    border: 0;
    padding: 12px 0 12px 5px; }
    header .sup .fone a.mail, header .sup .fone a .telefone-completo {
      display: inline-block; }
    header .sup .fone a.search, header .sup .fone a.hamburguer {
      display: none; }

  nav.menu {
    display: block; }
    nav.menu > div > ul {
      text-align: left; }
      nav.menu > div > ul > li {
        position: relative;
        display: inline-block; }
        nav.menu > div > ul > li a {
          border-bottom: 0; }
        nav.menu > div > ul > li:hover > ul {
          visibility: visible;
          opacity: 1; } }
.image-zoom-box {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  z-index: 1;
  border: 7px solid white;
  border-radius: 4px;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s; }
  .image-zoom-box img {
    position: absolute; }

.image-zoom-box-in {
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  transition-delay: .3s; }

#image-zoom-box-square {
  position: absolute;
  z-index: 100;
  opacity: .5;
  background-color: white;
  pointer-events: none; }

.image-select {
  padding-top: 15px; }
  .image-select img {
    width: 60px;
    height: auto;
    padding: 7px;
    cursor: pointer;
    border: 1px solid white;
    transition: border-color .3s; }
  .image-select.tres img {
    width: 50px; }

.pres .image-select img.active, .pres .image-select img:hover {
  border: 1px solid #ccecd0; }

.temp .image-select img.active, .temp .image-select img:hover {
  border: 1px solid #adafec; }

.sold .image-select img.active, .sold .image-select img:hover {
  border: 1px solid #ecadad; }

dl {
  padding: 0.5em; }
  dl dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    color: green; }
    dl dt::after {
      content: ":"; }
  dl.m dt {
    width: 100px; }
  dl.m dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0; }
  dl.l dt {
    width: 130px; }
  dl.l dd {
    margin: 0 0 0 140px;
    padding: 0 0 0.5em 0; }

/* Compartilhado entre a lista de produtos e a página do produto */
.produto-opcoes {
  margin-top: 20px; }
  .produto-opcoes a {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    padding: 6px;
    color: #4b4f56;
    font-size: .93rem;
    border-radius: 7px;
    transition: border-color .3s, background-color .3s; }

.pres .produto-opcoes a {
  border: 1px solid #007f00;
  color: #007f00; }
  .pres .produto-opcoes a:hover {
    border: 1px solid #007f00;
    color: #007f00;
    background-color: #ccecd0; }

.temp .produto-opcoes a {
  border: 1px solid #124971;
  color: #124971; }
  .temp .produto-opcoes a:hover {
    border: 1px solid #124971;
    color: #124971;
    background-color: #adafec; }

.sold .produto-opcoes a {
  border: 1px solid #711212;
  color: #711212; }
  .sold .produto-opcoes a:hover {
    border: 1px solid #711212;
    color: #711212;
    background-color: #ecadad; }

.empresa {
  padding-bottom: 15px; }
  .empresa .row > div {
    min-height: 5rem; }
    .empresa .row > div h2 {
      margin-top: 0; }
    .empresa .row > div ul li {
      padding: 0; }

.servicos {
  padding-bottom: 30px; }
  .servicos table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse; }
    .servicos table tr {
      text-align: left; }
      .servicos table tr th {
        color: #127112; }
      .servicos table tr td, .servicos table tr th {
        height: 50px;
        padding: 8px 8px;
        border: 1px solid #127112; }

.catalogos h2 {
  margin-top: 0; }

footer {
  background-color: #007f00;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both; }
  footer address {
    font-size: .9rem; }
  footer p.copyright {
    text-align: center;
    font-style: italic;
    font-size: .8rem; }
  footer .fone {
    text-align: right; }
