@font-face {
  font-family: 'font';
  src: url('{{ site.baseurl }}/font/font.eot?11900207');
  src: url('{{ site.baseurl }}/font/font.eot?11900207#iefix') format('embedded-opentype'),
       url('{{ site.baseurl }}/font/font.woff2?11900207') format('woff2'),
       url('{{ site.baseurl }}/font/font.woff?11900207') format('woff'),
       url('{{ site.baseurl }}/font/font.ttf?11900207') format('truetype'),
       url('{{ site.baseurl }}/font/font.svg?11900207#font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font';
    src: url('../font/font.svg?11900207#font') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-play-circled2:before { content: '\e800'; } /* '' */
.fa-phone:before { content: '\e801'; } /* '' */
.fa-search:before { content: '\e802'; } /* '' */
.fa-mail:before { content: '\e803'; } /* '' */
.fa-down-dir:before { content: '\e804'; } /* '' */
.fa-right-dir:before { content: '\e805'; } /* '' */
.fa-ok:before { content: '\e806'; } /* '' */
.fa-cancel:before { content: '\e807'; } /* '' */
.fa-link-ext:before { content: '\f08e'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-linkedin:before { content: '\f0e1'; } /* '' */
.fa-file-pdf:before { content: '\f1c1'; } /* '' */
.fa-question-circle-o:before { content: '\f29c'; } /* '' */