.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: #fff; }

.flickity-prev-next-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #09f; }

.flickity-prev-next-button:active {
  opacity: .6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: .3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

.carousel {
  height: 26vw;
  min-height: 300px; }

.carousel-cell {
  width: 100%;
  height: 26vw;
  min-height: 300px;
  line-height: 2em;
  color: white;
  text-shadow: #000 1px 1px; }
  .carousel-cell h1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 0.7em;
    padding: 0.3em;
    display: inline-block;
    border-radius: 4px; }
  .carousel-cell p {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.1em;
    line-height: 1.5rem;
    padding: 0.3em;
    border-radius: 4px; }
  .carousel-cell a.btn {
    margin-top: 40px; }

.flickity-page-dots {
  bottom: 13px; }
  .flickity-page-dots .dot {
    background-color: white;
    opacity: .55; }
  .flickity-page-dots .dot.is-selected {
    background-color: #007f00;
    opacity: 1; }

.flickity-prev-next-button {
  opacity: .55; }

.flickity-prev-next-button:hover {
  opacity: .8; }

.chopp {
  background: gray url("{{ site.baseurl }}{% link /imagens/banner-chopp.jpg %}") no-repeat bottom left;
  background-size: cover; }

.slide2 {
  background: gray url("{{ site.baseurl }}{% link /imagens/banner1.jpg %}") no-repeat bottom left;
  background-size: cover; }

.slide3 {
  background: gray url("{{ site.baseurl }}{% link /imagens/banner0.jpg %}") no-repeat bottom left;
  background-size: cover; }

.slide4 {
  background: gray url("{{ site.baseurl }}{% link /imagens/banner2.jpg %}") no-repeat bottom left;
  background-size: cover; }

.slide5 {
  background: gray url("{{ site.baseurl }}{% link /imagens/banner3.jpg %}") no-repeat bottom left;
  background-size: cover; }

@media (max-width: 767px) {
  .flickity-prev-next-button {
    display: none; } }
@media (min-width: 768px) {
  .carousel-cell p {
    max-width: 600px; }
  .carousel-cell h1 {
    font-size: 2.5em; }
  .carousel-cell p {
    font-size: 1.2em;
    line-height: 1.5rem; } }
.meio {
  padding: 35px 0 35px 0;
  /* top, right, bottom, left */ }
  .meio h1 {
    margin-top: 0; }
  .meio img {
    max-width: 100%; }

.produtos {
  background-color: #F2F2F2;
  padding: 50px 0 35px 0;
  /* top, right, bottom, left */ }
  .produtos h1 {
    margin-top: 0; }
  .produtos div.row > div {
    padding-left: 48px; }
    .produtos div.row > div span.fa-ok {
      position: absolute;
      margin-left: -37px; }
    .produtos div.row > div h2 {
      margin-top: 0;
      font-size: 1.4em; }
    .produtos div.row > div a:hover {
      color: #0abc0a; }
    .produtos div.row > div p {
      margin-bottom: 0; }

section.video-famabras {
  height: 350px;
  background-image: url("{{ site.baseurl }}{% link /imagens/video.jpg %}");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  section.video-famabras > div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: table; }
    section.video-famabras > div h1 {
      display: table-cell;
      vertical-align: middle; }
      section.video-famabras > div h1 > a {
        color: rgba(255, 255, 255, 0.9); }
        section.video-famabras > div h1 > a > span {
          font-size: 4.5rem; }
        section.video-famabras > div h1 > a:hover {
          color: white; }
  section.video-famabras #video-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    section.video-famabras #video-modal:target {
      opacity: 1;
      pointer-events: auto; }
    section.video-famabras #video-modal > div {
      width: 100%;
      max-width: 1100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1em;
      background: black;
      color: white; }
  section.video-famabras a.modal-close {
    text-align: right;
    display: block;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 1rem; }
    section.video-famabras a.modal-close:hover {
      color: white; }
