.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: #fff; }

.flickity-prev-next-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #09f; }

.flickity-prev-next-button:active {
  opacity: .6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: .3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

aside {
  float: left;
  display: none;
  max-width: 15em;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(174, 174, 181, 0.2);
  margin: 0 55px 30px 0;
  /* top, right, bottom, left */ }
  aside p {
    margin: 0;
    background-color: #f5f5f5;
    padding: 6px;
    cursor: pointer;
    color: black !important;
    font-size: 1rem; }
    aside p.toggle-expanded:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e804";
      float: right;
      color: #cbcbcb; }
    aside p.toggle-collapsed:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e805";
      float: right;
      color: #cbcbcb; }
  aside div {
    overflow: hidden;
    transition: height 0.5s ease; }
    aside div.collapsed {
      height: 0; }
  aside .pres ul li.active, aside .pres ul li:hover {
    color: #007f00;
    border-left-color: #007f00; }
  aside .pres ul li .novo:after {
    background-color: #176325; }
  aside .temp ul li.active, aside .temp ul li:hover {
    color: #124971;
    border-left-color: #124971; }
  aside .temp ul li .novo:after {
    background-color: #124971; }
  aside .sold ul li.active, aside .sold ul li:hover {
    color: #711212;
    border-left-color: #711212; }
  aside .sold ul li .novo:after {
    background-color: #711212; }
  aside ul {
    border-top: 1px solid #ddd; }
    aside ul li {
      color: #212121;
      border-left: 4px solid white;
      transition: border-color .2s;
      padding: 0; }
      aside ul li.info {
        border-top: 1px solid #ddd; }
      aside ul li:last-child {
        border-bottom: 1px solid #ddd; }
      aside ul li a {
        line-height: 1.3em;
        font-size: 0.85em;
        padding: .45em;
        padding-left: 9px;
        display: block; }

@media (min-width: 768px) {
  aside {
    display: block; } }
article {
  display: block;
  overflow: hidden;
  padding-left: 5px; }
  article h1 {
    margin-top: 0; }
  article section.pres, article section.temp, article section.sold {
    border-top: 1px solid #f5f5f5;
    padding: 10px 0 10px 0;
    /* top, right, bottom, left */ }
    article section.pres h2, article section.temp h2, article section.sold h2 {
      margin-top: 0; }

.carousel {
  height: 200px;
  margin: 0 40px 0 40px; }

.carousel-cell {
  height: 100%;
  width: 230px;
  text-align: center;
  vertical-align: top;
  margin: 0 10px 0 0;
  /* top, right, bottom, left */
  padding: 4px; }
  .carousel-cell a {
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: border-color .3s;
    display: block;
    border: 1px solid transparent;
    padding-top: 5px; }
    .carousel-cell a:hover {
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .carousel-cell a .img {
      height: 140px;
      position: relative;
      overflow: hidden; }
      .carousel-cell a .img:before {
        content: "";
        display: block;
        padding-top: 100%; }
      .carousel-cell a .img img {
        max-height: 120px;
        width: auto;
        position: absolute;
        top: -999px;
        bottom: -999px;
        left: -999px;
        right: -999px;
        margin: auto; }
  .carousel-cell h3 {
    font-size: .85rem;
    border-top: 1px solid #ece9e9;
    margin: 0;
    padding: 5px; }

.pres .carousel-cell a:hover {
  border-color: #007f00; }

.temp .carousel-cell a:hover {
  border-color: #124971; }

.sold .carousel-cell a:hover {
  border-color: #711212; }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  transition: background-color .2s; }

.flickity-prev-next-button:hover {
  background-color: #ddd; }

.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-prev-next-button.no-svg {
  color: #333; }

.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }
