<aside>
	<div class="pres">
		<nav>
			<p onclick="toggleCollapse(this);" 
				data-toggle-dest="manometro"
				class="{% if page.url contains 'manometros' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Manômetros</p>
			<div id="manometro" {% if page.url contains 'manometros' %}{% else %}class="collapsed"{% endif %}>
				<ul>
					<li {% if page.url contains 'manometros/standard' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/standard.html %}" title="Linha de Manômetros Standard">Linha Standard</a>
					</li>
					<li {% if page.url contains 'manometros/refrigeracao' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/refrigeracao.html %}" title="Linha de Manômetros para Refrigeração">Linha Refrigeração</a>
					</li>
					<li {% if page.url contains 'manometros/painel' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/painel.html %}" title="Linha de Manômetros Painel Uso Geral">Linha Painel - Uso geral</a>
					</li>
					<li {% if page.url contains 'manometros/industrial-baixa-pressao' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/industrial-baixa-pressao.html %}" title="Linha de Manômetros Industriais de Baixa Pressão">Linha Industrial - Baixa pressão</a>
					</li>
					<li {% if page.url contains 'manometros/laboratorio' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/laboratorio.html %}" title="Linha de Manômetros para Laboratório">Linha Laboratório</a>
					</li>
					<li {% if page.url contains 'manometros/petroquimica' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/petroquimica.html %}" title="Linha de Manômetros Petroquímica">Linha Petroquímica</a>
					</li>
					<li {% if page.url contains 'manometros/diferencial' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/diferencial.html %}" title="Linha de Manômetros Diferencial">Linha Diferencial</a>
					</li>
					<li {% if page.url contains 'manometros/transmissao-mecanica' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/transmissao-mecanica.html %}" title="Linha de Manômetros Transmissão Mecânica">Linha Transmissão Mecânica</a>
					</li>
					<li {% if page.url contains 'manometros/acessorios' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/acessorios.html %}" title="Acessórios para Manômetros">Acessórios</a>
					</li>
					<li class="info">
						<a href="{{ site.baseurl }}{% link pdf/manometros-conceitos-e-definicoes.pdf %}" rel="nofollow" target="_blank" title="Conceitos e Definições de Manômetros">Conceitos e Definições</a>
					</li>
					<li {% if page.url contains 'manometros/recomendacoes-de-uso-e-instalacao' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/manometros/recomendacoes-de-uso-e-instalacao.html %}" title="Recomendações de Uso e Instalação de Manômetros">Recomendações de uso e instalação</a>
					</li>
					<li><a href="{{ site.baseurl }}{% link pdf/manometros-tabela-de-conversao-de-unidades-de-pressao.pdf %}" rel="nofollow" target="_blank" title="Tabela de Conversão de Unidades de Pressão">Tabela de Conversão de Unidades de Pressão</a></li>
					<li><a href="{{ site.baseurl }}{% link pdf/manometros-relacao-de-fluidos-e-materiais.pdf %}" rel="nofollow" target="_blank" title="Relação de Fluidos e Materiais">Relação de Fluidos e Materiais</a></li>
					<li><a href="{{ site.baseurl }}{% link pdf/manometros-classe-de-exatidao.pdf %}" rel="nofollow" target="_blank" title="Classe de Exatidão dos Manômetros">Classe de Exatidão</a></li>
					<li><a href="{{ site.baseurl }}{% link pdf/manometros-tabela-de-escalas-padronizadas.pdf %}" rel="nofollow" target="_blank" title="Tabela de Escalas Padronizadas">Tabela de Escalas Padronizadas</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="temp">
		<nav>
			<p onclick="toggleCollapse(this);" 
				data-toggle-dest="termometro"
				class="{% if page.url contains 'termometros' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Termômetros <span class="novo"></span></p>
			<div id="termometro" {% if page.url contains 'termometros' %}{% else %}class="collapsed"{% endif %}>
				<ul class="info">
					<li {% if page.url contains 'termometros/bimetal-industrial' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-industrial.html %}" title="Linha de Termômetros Bimetal Industrial">Linha Bimetal Industrial</a>
					</li>
					<li {% if page.url contains 'termometros/bimetal-frigorifico' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-frigorifico.html %}" title="Linha de Termômetros Bimetal Frigorífico">Linha Bimetal Frigorífico</a>
					</li>
					<li {% if page.url contains 'termometros/bimetal-petroquimica' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/termometros/bimetal-petroquimica.html %}" title="Linha de Termômetros Bimetal Petroquímica">Linha Bimetal Petroquímica</a>
					</li>
					<li {% if page.url contains 'termometros/capilar-inox' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-inox.html %}"  title="Linha de Termômetros Capilar Inox">Linha Capilar Inox</a>
					</li>
					<li {% if page.url contains 'termometros/capilar-industrial' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-industrial.html %}" title="Linha de Termômetros Capilar Industrial">Linha Capilar Industrial</a>
					</li>
					<li {% if page.url contains 'termometros/capilar-refrigeracao' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/termometros/capilar-refrigeracao.html %}" title="Linha de Termômetros Capilar Refrigeração">Linha Capilar Refrigeração</a>
					</li>
					<li {% if page.url contains 'termometros/acessorios' %}class="active"{% endif %}>
						<a class="novo" href="{{ site.baseurl }}{% link _produtos/termometros/acessorios.html %}" title="Acessórios para Termômetros">Acessórios</a></li>
					<li class="info"><a href="{{ site.baseurl }}{% link pdf/termometros-conceitos-e-definicoes.pdf %}" rel="nofollow" target="_blank" title="Conceitos e Definições Termômetros">Conceitos e Definições</a></li>
					<li><a href="{{ site.baseurl }}{% link pdf/termometros-tabela-de-conversao-de-temperaturas.pdf %}" rel="nofollow" target="_blank" title="Tabela de Conversão de Temperaturas">Tabela de Conversão de Temperaturas</a></li>
					<li><a href="{{ site.baseurl }}{% link pdf/termometros-classe-de-exatidao.pdf %}" rel="nofollow" target="_blank" title="Classe de Exatidão dos Termômetros">Classe de Exatidão</a></li>
					<li><a href="{{ site.baseurl }}{% link pdf/termometros-tabela-de-escalas-padronizadas.pdf %}" rel="nofollow" target="_blank" title="Tabela de Escalas Padronizadas">Tabela de Escalas Padronizadas</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="sold">
		<nav>
			<p onclick="toggleCollapse(this);" 
				data-toggle-dest="regulador"
				class="{% if page.url contains 'reguladores-de-pressao/' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Reguladores de Pressão <span class="novo"></span></p>
			<div id="regulador" {% if page.url contains 'reguladores-de-pressao/' %}{% else %}class="collapsed"{% endif %}>
				<ul>
					<li {% if page.url contains 'reguladores-de-pressao/serie-ri-industrial' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-ri-industrial.html %}" title="Reguladores de Pressão Série RI - Industrial">Série RI - Industrial</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-10-ar-comprimido' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-10-ar-comprimido.html %}" title="Reguladores de Pressão Série 10 - Ar Comprimido">Série 10 - Ar Comprimido</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-glp' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-glp.html %}" title="Reguladores de Pressão Série GLP / Gás Natural">Série GLP / Gás Natural</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/economizador-de-gas' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/economizador-de-gas.html %}" title="Economizador de Gás">Economizador de Gás</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-100' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-100.html %}" title="Reguladores de Pressão Série 100">Série 100</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-200-posto' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-200-posto.html %}" title="Reguladores de Pressão Série 200 - Posto">Série 200 - Posto</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-300-duplo-estagio' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-300-duplo-estagio.html %}" title="Reguladores de Pressão Série 300 - Duplo Estágio">Série 300 - Duplo Estágio</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-laboratorio' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-laboratorio.html %}" title="Reguladores de Pressão Série Laboratório">Série Laboratório</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-fluxometro' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-fluxometro.html %}" title="Reguladores de Pressão Série com Fluxômetro">Série com Fluxômetro</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-medicinal' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-medicinal.html %}" title="Reguladores de Pressão Série Medicinal">Série Medicinal</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-alta-pressao' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-alta-pressao.html %}" title="Reguladores de Pressão Série Alta Pressão">Série Alta Pressão</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/serie-alta-vazao' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/serie-alta-vazao.html %}" title="Reguladores de Pressão Série Alta Vazão">Série Alta Vazão</a>
					</li>
					<li {% if page.url contains 'reguladores-de-pressao/acessorios' %}class="active"{% endif %}>
						<a class="novo" href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao/acessorios.html %}" title="Acessórios para Reguladores de Pressão">Acessórios</a></li>
				</ul>
			</div>
		</nav>
		<div class="sold">
			<nav>
				<p onclick="toggleCollapse(this);" 
					data-toggle-dest="regulador-de-pressao-chopp"
					class="{% if page.url contains 'reguladores-de-pressao-chopp-e-post-mix' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Chopp / Post-Mix</p>
				<div id="regulador-de-pressao-chopp" {% if page.url contains 'reguladores-de-pressao-chopp-e-post-mix' %}{% else %}class="collapsed"{% endif %}>
					<ul>
						<li {% if page.url contains 'reguladores-de-pressao-chopp-e-post-mix/serie-400' %}class="active"{% endif %}>
							<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix/serie-400.html %}" title="Reguladores de Pressão para Chopp e e sistema Post-Mix">Reguladores de Pressão Chopp e Post-Mix</a>
						</li>
						<li {% if page.url contains 'reguladores-de-pressao-chopp-e-post-mix/acessorios' %}class="active"{% endif %}>
							<a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix/acessorios.html %}" title="Acessórios para Reguladores de Pressão Chopp e Post-Mix">Acessórios</a>
						</li>
					</ul>
				</div>
			</nav>
			<nav>
			<p onclick="toggleCollapse(this);" 
				data-toggle-dest="central-de-cilindro"
				class="{% if page.url contains 'centrais-de-cilindros' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Centrais de Cilindros</p>
			<div id="central-de-cilindro" {% if page.url contains 'centrais-de-cilindros' %}{% else %}class="collapsed"{% endif %}>
				<ul>
					<li {% if page.url contains 'centrais-de-cilindros/serie-industrial' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-industrial.html %}" title="Série Industrial">Série Industrial</a>
					</li>
					<li {% if page.url contains 'centrais-de-cilindros/serie-laboratorio' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros/serie-laboratorio.html %}" title="Série Laboratório">Série Laboratório</a>
					</li>
				</ul>
			</div>
		</nav>
		<nav>
			<p onclick="toggleCollapse(this);" 
				data-toggle-dest="macarico"
				class="{% if page.url contains 'macaricos' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Maçaricos <span class="novo"></span></p>
			<div id="macarico" {% if page.url contains 'macaricos' %}{% else %}class="collapsed"{% endif %}>
				<ul>
					<li {% if page.url contains 'macaricos/solda' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/solda.html %}" title="Maçaricos para solda">Solda</a>
					</li>
					<li {% if page.url contains 'macaricos/corte' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/corte.html %}" title="Maçaricos para corte">Corte</a>
					</li>
					<li {% if page.url contains 'macaricos/cabeca-cortadora' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/macaricos/cabeca-cortadora.html %}" title="Cabeça cortadora para maçarico de solda">Cabeça Cortadora</a>
					</li>
					<li {% if page.url contains 'macaricos/acessorios' %}class="active"{% endif %}>
						<a class="novo" href="{{ site.baseurl }}{% link _produtos/macaricos/acessorios.html %}" title="Acessórios para Maçaricos">Acessórios</a>
					</li>
				</ul>
			</div>
		</nav>
		<nav>
			<p onclick="toggleCollapse(this);" 
				data-toggle-dest="conjunto-de-solda"
				class="{% if page.url contains 'conjuntos-de-solda' %}toggle-expanded{% else %}toggle-collapsed{% endif %}">Conjuntos de Solda</p>
			<div id="conjunto-de-solda" {% if page.url contains 'conjuntos-de-solda' %}{% else %}class="collapsed"{% endif %}>
				<ul>
					<li {% if page.url contains 'conjuntos-de-solda/serie-millennium' %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{% link _produtos/conjuntos-de-solda/serie-millennium.html %}" title="Série Millennium">Série Millennium</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</aside>