aside {
  float: left;
  display: none;
  max-width: 15em;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(174, 174, 181, 0.2);
  margin: 0 55px 30px 0;
  /* top, right, bottom, left */ }
  aside p {
    margin: 0;
    background-color: #f5f5f5;
    padding: 6px;
    cursor: pointer;
    color: black !important;
    font-size: 1rem; }
    aside p.toggle-expanded:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e804";
      float: right;
      color: #cbcbcb; }
    aside p.toggle-collapsed:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e805";
      float: right;
      color: #cbcbcb; }
  aside div {
    overflow: hidden;
    transition: height 0.5s ease; }
    aside div.collapsed {
      height: 0; }
  aside .pres ul li.active, aside .pres ul li:hover {
    color: #007f00;
    border-left-color: #007f00; }
  aside .pres ul li .novo:after {
    background-color: #176325; }
  aside .temp ul li.active, aside .temp ul li:hover {
    color: #124971;
    border-left-color: #124971; }
  aside .temp ul li .novo:after {
    background-color: #124971; }
  aside .sold ul li.active, aside .sold ul li:hover {
    color: #711212;
    border-left-color: #711212; }
  aside .sold ul li .novo:after {
    background-color: #711212; }
  aside ul {
    border-top: 1px solid #ddd; }
    aside ul li {
      color: #212121;
      border-left: 4px solid white;
      transition: border-color .2s;
      padding: 0; }
      aside ul li.info {
        border-top: 1px solid #ddd; }
      aside ul li:last-child {
        border-bottom: 1px solid #ddd; }
      aside ul li a {
        line-height: 1.3em;
        font-size: 0.85em;
        padding: .45em;
        padding-left: 9px;
        display: block; }

@media (min-width: 768px) {
  aside {
    display: block; } }
.produtos article {
  display: block;
  overflow: hidden;
  padding-left: 5px; }
  .produtos article h1 {
    margin-top: 0; }
  .produtos article > ul {
    list-style-type: none;
    padding: 0; }
    .produtos article > ul > li {
      clear: both;
      position: relative;
      padding: 30px 0 30px 0;
      display: inline-block;
      width: 100%; }
      .produtos article > ul > li .image-zoom-box {
        width: 300px;
        height: 300px;
        margin-left: 190px;
        margin-top: -20px; }
      .produtos article > ul > li div.title h2 {
        margin-top: 0; }
      .produtos article > ul > li div.title h3 {
        margin-top: -8px; }
      .produtos article > ul > li div.image {
        display: block;
        text-align: center; }
        .produtos article > ul > li div.image > figure {
          position: relative;
          overflow: hidden;
          margin: 0; }
          .produtos article > ul > li div.image > figure > img {
            width: 160px;
            height: auto;
            cursor: zoom-in; }
          .produtos article > ul > li div.image > figure > figcaption {
            width: 160px;
            text-align: left;
            line-height: 1.1em;
            font-size: 0.69em;
            margin-top: 0.3em;
            margin-bottom: 0.7em; }
      .produtos article > ul > li .desc table {
        width: 100%; }
        .produtos article > ul > li .desc table tr td {
          padding: 4px;
          font-size: .9em; }
        .produtos article > ul > li .desc table tr td:first-child {
          width: 140px;
          text-align: center; }
        .produtos article > ul > li .desc table tr td:last-child {
          text-align: center; }
      .produtos article > ul > li .desc ul {
        list-style-type: disc;
        margin-inline-start: 17px;
        padding: 0; }
.produtos li.pres {
  border-top: 1px solid #ccecd0; }
  .produtos li.pres .desc table tr:nth-child(odd) {
    background-color: #ccecd0; }
  .produtos li.pres .desc table tr:nth-child(even) {
    background-color: #f2faf2; }
.produtos li.temp {
  border-top: 1px solid #c8ecfc; }
  .produtos li.temp .desc table tr:nth-child(odd) {
    background-color: #c8ecfc; }
  .produtos li.temp .desc table tr:nth-child(even) {
    background-color: #e3fafc; }
.produtos li.sold {
  border-top: 1px solid #fac3c2; }
  .produtos li.sold .desc table tr:nth-child(odd) {
    background-color: #fac3c2; }
  .produtos li.sold .desc table tr:nth-child(even) {
    background-color: #fee9e0; }

@media (min-width: 576px) {
  .produtos article > ul > li div.title {
    display: inline-block; }
    .produtos article > ul > li div.title h2 {
      margin-left: 30px; }
    .produtos article > ul > li div.title h3 {
      margin-left: 30px; }
  .produtos article > ul > li div.image {
    float: left; }
  .produtos article > ul > li .desc {
    margin-left: 190px; } }
