.produto div.image {
  overflow: hidden;
  position: relative; }
  .produto div.image > figure {
    position: relative;
    overflow: hidden;
    margin: 0; }
    .produto div.image > figure > img {
      cursor: zoom-in; }
    .produto div.image > figure > figcaption {
      width: 190px;
      text-align: left;
      line-height: 1.1em;
      font-size: 0.69em;
      margin-top: 0.3em;
      margin-bottom: 0.7em; }
.produto .desc {
  position: relative; }
  .produto .desc .image-zoom-box {
    width: 400px;
    height: 400px; }
  .produto .desc table {
    width: 80%; }
    .produto .desc table tr td {
      padding: 4px;
      line-height: 1.5em;
      font-size: .9em; }
    .produto .desc table tr td:first-child {
      width: 140px;
      text-align: center; }
    .produto .desc table tr td:last-child {
      text-align: center; }
  .produto .desc ul {
    list-style-type: disc;
    margin-inline-start: 17px;
    padding: 0; }
.produto.pres .desc table tr:nth-child(odd) {
  background-color: #ccecd0; }
.produto.pres .desc table tr:nth-child(even) {
  background-color: #f2faf2; }
.produto.temp .desc table tr:nth-child(odd) {
  background-color: #c8ecfc; }
.produto.temp .desc table tr:nth-child(even) {
  background-color: #e3fafc; }
.produto.sold .desc table tr:nth-child(odd) {
  background-color: #fac3c2; }
.produto.sold .desc table tr:nth-child(even) {
  background-color: #fee9e0; }
