aside {
  float: left;
  display: none;
  max-width: 15em;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(174, 174, 181, 0.2);
  margin: 0 55px 30px 0;
  /* top, right, bottom, left */ }
  aside p {
    margin: 0;
    background-color: #f5f5f5;
    padding: 6px;
    cursor: pointer;
    color: black !important;
    font-size: 1rem; }
    aside p.toggle-expanded:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e804";
      float: right;
      color: #cbcbcb; }
    aside p.toggle-collapsed:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e805";
      float: right;
      color: #cbcbcb; }
  aside div {
    overflow: hidden;
    transition: height 0.5s ease; }
    aside div.collapsed {
      height: 0; }
  aside .pres ul li.active, aside .pres ul li:hover {
    color: #007f00;
    border-left-color: #007f00; }
  aside .pres ul li .novo:after {
    background-color: #176325; }
  aside .temp ul li.active, aside .temp ul li:hover {
    color: #124971;
    border-left-color: #124971; }
  aside .temp ul li .novo:after {
    background-color: #124971; }
  aside .sold ul li.active, aside .sold ul li:hover {
    color: #711212;
    border-left-color: #711212; }
  aside .sold ul li .novo:after {
    background-color: #711212; }
  aside ul {
    border-top: 1px solid #ddd; }
    aside ul li {
      color: #212121;
      border-left: 4px solid white;
      transition: border-color .2s;
      padding: 0; }
      aside ul li.info {
        border-top: 1px solid #ddd; }
      aside ul li:last-child {
        border-bottom: 1px solid #ddd; }
      aside ul li a {
        line-height: 1.3em;
        font-size: 0.85em;
        padding: .45em;
        padding-left: 9px;
        display: block; }

@media (min-width: 768px) {
  aside {
    display: block; } }
.lista {
  display: block;
  overflow: hidden;
  padding-left: 5px; }
  .lista h1 {
    margin-top: 0; }
  .lista ul {
    list-style-type: none;
    padding: 0; }
    .lista ul li {
      display: inline-block;
      width: 230px;
      text-align: center;
      vertical-align: top;
      margin: 0 10px 15px 0;
      /* top, right, bottom, left */ }
      .lista ul li a {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        transition: border-color .3s;
        display: block;
        border: 1px solid transparent;
        padding-top: 5px; }
        .lista ul li a:hover {
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .lista ul li a .img {
          height: 140px;
          position: relative;
          overflow: hidden; }
          .lista ul li a .img:before {
            content: "";
            display: block;
            padding-top: 100%; }
          .lista ul li a .img img {
            max-height: 120px;
            width: auto;
            position: absolute;
            top: -999px;
            bottom: -999px;
            left: -999px;
            right: -999px;
            margin: auto; }
      .lista ul li h2 {
        font-size: .95em;
        margin-bottom: 0;
        padding: 5px;
        border-top: 1px solid #ece9e9; }

.pres .lista ul li a:hover {
  border-color: #007f00; }

.temp .lista ul li a:hover {
  border-color: #124971; }

.sold .lista ul li a:hover {
  border-color: #711212; }
