aside {
  float: left;
  display: none;
  max-width: 15em;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(174, 174, 181, 0.2);
  margin: 0 55px 30px 0;
  /* top, right, bottom, left */ }
  aside p {
    margin: 0;
    background-color: #f5f5f5;
    padding: 6px;
    cursor: pointer;
    color: black !important;
    font-size: 1rem; }
    aside p.toggle-expanded:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e804";
      float: right;
      color: #cbcbcb; }
    aside p.toggle-collapsed:after {
      font-family: "font";
      font-style: normal;
      font-weight: normal;
      content: "\e805";
      float: right;
      color: #cbcbcb; }
  aside div {
    overflow: hidden;
    transition: height 0.5s ease; }
    aside div.collapsed {
      height: 0; }
  aside .pres ul li.active, aside .pres ul li:hover {
    color: #007f00;
    border-left-color: #007f00; }
  aside .pres ul li .novo:after {
    background-color: #176325; }
  aside .temp ul li.active, aside .temp ul li:hover {
    color: #124971;
    border-left-color: #124971; }
  aside .temp ul li .novo:after {
    background-color: #124971; }
  aside .sold ul li.active, aside .sold ul li:hover {
    color: #711212;
    border-left-color: #711212; }
  aside .sold ul li .novo:after {
    background-color: #711212; }
  aside ul {
    border-top: 1px solid #ddd; }
    aside ul li {
      color: #212121;
      border-left: 4px solid white;
      transition: border-color .2s;
      padding: 0; }
      aside ul li.info {
        border-top: 1px solid #ddd; }
      aside ul li:last-child {
        border-bottom: 1px solid #ddd; }
      aside ul li a {
        line-height: 1.3em;
        font-size: 0.85em;
        padding: .45em;
        padding-left: 9px;
        display: block; }

@media (min-width: 768px) {
  aside {
    display: block; } }
