<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.description %}<meta name="description" content="{{ page.description | escape}}">{% endif %}
	<meta name="author" content="Celus Soluções em TI">
	<meta name="theme-color" content="#007f00"/>
	<link rel="manifest" href="{{ site.baseurl }}{% link /manifest.json %}">
	{% capture title -%}
		{{ page.title | escape }}
		{%- if page.subtitle %} - {{page.subtitle | escape}}{%- endif -%}
		{%- if page.url != "/" -%}
			{%- if h1small %} - {{ h1small | escape }} {%- endif %} - Famabras
		{%- endif -%}
    {% endcapture %}
	<title>{{ title }}</title>

	<meta name="geo.region" content="BR-SP">
	<meta name="geo.placename" content="Itaquaquecetuba">
	<meta name="geo.position" content="-23.44168;-46.333971">
	<meta name="ICBM" content="-23.44168, -46.333971">
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="7 days">
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ site.baseurl }}{% link /imagens/favicon.png %}">

	<!-- Facebook/LinkedIn -->
	{% if page.description %}
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
	<meta property="og:locale" content="pt_BR">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ page.description | escape}}">
	<meta property="og:type" content="website">
	{% if page.imagem %}
	<meta property="og:image" content="{{ site.baseurl }}/imagens/{{ page.imagem }}-1200x628.jpg">
	{% else %}
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{% link imagens/logo.png %}">
	{% endif %}
	{% endif %}
	
	<!--[if lt IE 9]><script src=https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js></script><script src=https://oss.maxcdn.com/respond/1.4.2/respond.min.js></script><![endif]-->
	{%- include gtag.html -%}
	<style>{%- include famabras.css -%}{%- include font.css -%}{%- if page.cssfile -%}{%- include {{ page.cssfile }} -%}{%- endif -%}{%- if layout.cssfile -%}{%- include {{ layout.cssfile }} -%}{%- endif -%}</style>
	<script>{%- include util.js -%}{%- include collapse.js -%}</script>
</head>
<body>
	<header>
		<div class="container sup">
			<a class="brand" href="{{ site.baseurl }}/" title="Ir para a página inicial"><img src="{{ site.baseurl }}{% link /imagens/logo.png %}" width="177" height="52" alt="Famabras - Soluções em Medições"></a>
			<div class="fone">
				<form class="search" method="get" action="{{ site.baseurl }}{% link search.html %}">
					<input type="text" name="query" id="search-box" autocomplete="off" required placeholder="Buscar produto" aria-label="Produto"><button type="submit" aria-label="Buscar produto"><span class="fa-search"></span></button>
				</form><a class="linkedin" rel="noopener" title="Acesse nossa página no LinkedIn" target="_blank" href="https://www.linkedin.com/company/famabras/"><span class="fa fa-linkedin"></span></a> <a class="mail" rel="nofollow" title="Envie um e-mail para vendas@famabras.com.br" href="mailto:vendas@famabras.com.br"><span class="fa fa-mail"></span></a><a class="tel" rel="nofollow" title="Ligue para nossa equipe de vendas" href="tel:+551146461101" onClick="ga('send', 'event', 'telefone', 'clique');"><span class="fa fa-phone"></span><span class="telefone-completo">11 4646-1101</span></a><a class="search" href="javascript:void(0);" onclick="toggleCollapse(this);" data-toggle-dest="search-responsive" title="Buscar produtos"><span class="fa-search"></span></a><a class="hamburguer" href="javascript:void(0);" onclick="toggleCollapse(this);" data-toggle-dest="menu" title="Menu telas pequenas"><span class="fa-menu"></span></a>
			</div>
		</div>
		<div style="clear: both"></div>
		<div id="search-responsive" class="collapsed">
			<form class="search" method="get" action="{{ site.baseurl }}{% link search.html %}">
				<input type="text" name="query" autocomplete="off" required placeholder="Buscar produto" aria-label="Produto"><button type="submit" aria-label="Buscar produto"><span class="fa-search"></span></button>
			</form>
		</div>
		<nav class="menu collapsed" id="menu">
			<div class="container">
				<ul>
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}{% link empresa.html %}">Empresa</a></li>
					<li>
						<a class="icondropdown" href="{{ site.baseurl }}{% link linha-de-produtos.html %}" data-toggle-dest="linha-de-produtos">Linha de Produtos</a>
						<ul>
							<li><a href="{{ site.baseurl }}{% link _produtos/manometros.html %}">Manômetros</a></li>
							<li><a href="{{ site.baseurl }}{% link _produtos/termometros.html %}"  class="novo">Termômetros</a></li>
							<li><a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao.html %}"  class="novo">Reguladores de Pressão</a></li>
							<li><a href="{{ site.baseurl }}{% link _produtos/reguladores-de-pressao-chopp-e-post-mix.html %}">Chopp / Post-Mix</a></li>
							<li><a href="{{ site.baseurl }}{% link _produtos/centrais-de-cilindros.html %}">Centrais de Cilindros</a></li>
							<li><a href="{{ site.baseurl }}{% link _produtos/macaricos.html %}"  class="novo">Maçaricos</a></li>
							<li><a href="{{ site.baseurl }}{% link _produtos/conjuntos-de-solda.html %}">Conjuntos de Solda</a></li>
						</ul>
					</li>
					<li>
						<a href="{{ site.baseurl }}{% link servicos.html %}">Serviços</a>
					</li>
					<li><a href="{{ site.baseurl }}{% link catalogos.html %}">Catálogos</a></li>
					<li><a href="{{ site.baseurl }}{% link contato.html %}">Contato</a></li>
				</ul>
			</div>
		</nav>
	</header>