aside {
	float: left;
	display: none;
	max-width: 15em;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 1px rgba(174,174,181,.2);
	margin: 0 55px 30px 0; /* top, right, bottom, left */
	p {
		margin: 0;
		background-color: #f5f5f5;
		padding: 6px;
		cursor: pointer;
		color: black !important;
		font-size: 1rem;
		&.toggle-expanded:after {
			font-family: "font";
			font-style: normal;
			font-weight: normal;
			content: "\e804";
			float: right;
			color: #cbcbcb;
		}
		&.toggle-collapsed:after {
			font-family: "font";
			font-style: normal;
			font-weight: normal;
			content: "\e805";
			float: right;
			color: #cbcbcb;
		}
	}

	div {
		overflow: hidden;
		transition: height 0.5s ease;
		&.collapsed {
			height: 0;
		}
	}

	.pres ul li {
		&.active, &:hover {
			color: $pres-color-normal;
			border-left-color: $pres-color-normal;
		}

		.novo:after {
			background-color: #176325;
		}
	}

	.temp ul li {
		&.active, &:hover {
			color: $temp-color-normal;
			border-left-color: $temp-color-normal;
		}
		.novo:after {
			background-color: $temp-color-normal;
		}
	}
	
	.sold ul li {
		&.active, &:hover {
			color: $sold-color-normal;
			border-left-color: $sold-color-normal;
		}

		.novo:after {
			background-color: $sold-color-normal;
		}
	}

	ul {
		border-top: 1px solid #ddd;
		li {
			color: #212121;
			border-left: 4px solid white;
			transition: border-color .2s;
			padding: 0;
			&.info {
				border-top: 1px solid #ddd;
			}
			&:last-child {
				border-bottom: 1px solid #ddd;
			}
			a {
				line-height: 1.3em;
				font-size: 0.85em;
				padding: .45em;
				padding-left: 9px;
				display: block;
			}
		}
	}
}

@media (min-width: $sm-width-min) {
	aside {
		display: block;
	}
}
