$ss-width-min: 576px; 
$sm-width-min: 768px;
$sl-width-min: 992px;
$nav-collapse-width-min: $sm-width-min;

$ss-width-max: $ss-width-min - 1;
$sm-width-max: $sm-width-min - 1;
$sl-width-max: $sl-width-min - 1;
$nav-collapse-width-max: $nav-collapse-width-min - 1;

$padding-size: 15px;

$pres-color-normal: #007f00;
$pres-color-normal-clara: #0abc0a;
$pres-color-clara: #ccecd0;
$pres-color-mais-clara: #f2faf2;

$temp-color-normal: #124971;
$temp-color-clara: #c8ecfc;
$temp-color-mais-clara: #e3fafc;

$sold-color-normal: #711212;
$sold-color-clara: rgb(246,154,156);
$sold-color-mais-clara: #ecadad;


$border-hover-color-pres: #ccecd0;
$border-hover-color-temp: #adafec;
$border-hover-color-sold: #ecadad;

$back-color-active-pres: #99dbb2;
$back-color-active-temp: rgb(129,215,247);
$back-color-active-sold: rgb(246,154,156);

$h-color-pres: #127112;
$h-color-temp: #124971;
$h-color-sold: #711212;