@import "_vars.scss";

article,aside,footer,header,nav,section{display:block}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html {
	font-size: 15px;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #444;
}

@media (min-width: $ss-width-min) {
	html {
		position: relative;
		min-height: 100%;
	}
	body {
		margin: 0 0 161px;
	}
	footer {
		position: absolute; 
		bottom: 0px; 
		width: 100%;
	}
}

address {
	font-style: normal;
	line-height: 1.5em;
}

li {
	line-height: 1.4em;
}
small {
	font-size: 80%
}
p {
	line-height: 1.5rem;
	a {
		text-decoration: underline;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
ol {
	padding: 0;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
	&>.small {
		font-size: .6em;
	}
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
}
h1, h2, h3, h4 {
	font-weight: 500;
	color: $pres-color-normal;
}
.temp {
	h1, h2, h3, h4 {
		color: $temp-color-normal;
	}
}
.sold {
	h1, h2, h3, h4 {
		color: $sold-color-normal;
	}
}

* {
	box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: $padding-size;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media (min-width: $ss-width-min) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media (min-width: $sm-width-min) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media (min-width: $sl-width-min) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

li {
	padding-top: .25em;
	padding-bottom: .25em;
}

abbr[title] {
	text-decoration: none;
	border-bottom: none;
	cursor: help;
}


a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

p a {
	&, &:visited, &:active {
		color: $h-color-pres;
	}
	&:hover {
		text-decoration: underline;
	}
}

a.btn, button.btn {
	padding: 8px 16px;
	background-color: #007f00;
	color: #fff;
	text-shadow: gray 1px 1px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-radius: 4px;
	transition: background-color .2s, box-shadow .2s;
	display: inline-block;
	border: 0;
	&:hover {
		background-color: #025202;
	}
}

.novo:after {
	content: "Novo";
	color: #fff;
	padding: .25em .4em;
	background-color: #176325;
	border-radius: .25rem;
	font-size: 65%;
	top: -.5em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	margin-left: .6em;
}

.temp .novo:after {
	background-color: $temp-color-normal;
}

.sold .novo:after {
	background-color: $sold-color-normal;
}

.container {
	max-width: 1050px;
	padding: 0 $padding-size;
	margin: 0 auto;
	div.row {
		margin-left: -$padding-size;
		margin-right: -$padding-size;
	}
}

section.verde {
	background-color: #ddd;
	color: black;
	h1, h2 {
		color: black;
	}
}


form.search {
	padding: 12px;
	input {
		padding: 0 8px;
		border: 1px solid #127112;
		border-radius: .25rem 0 0 .25rem;
		height: 30px;
		line-height: 0; /*Corrige uma pequena diferença de tamanho em relação ao botão colado*/
	}
	button {
		border-radius: 0 .25rem .25rem 0;
		height: 30px;					
		background-color: transparent;
		color: #127112;
		border: 1px solid #127112;
		border-left: 0;
		line-height: 0; /*Corrige uma pequena diferença de tamanho em relação ao input colado*/
	}
}

.breadcrumb {
	font-size: .85rem;
	&>li {
		display: inline-block;
		a:hover {
			text-decoration: underline;
		}
	}
	&>li+li:before {
		padding: 0 5px;
		color: #ccc;
		content: "»";
	}
}

header {
	box-shadow: 0 2px 8px rgba(0,0,0,.18);
	z-index: 200;
	.sup {
		padding: 0;
		a.brand {
			display: inline-block;
			padding: 8px 0 8px $padding-size;
			img {
				height: 30px;
				width: auto;
				vertical-align: middle;
			}
		}
		
		.fone {
			float: right;
			form {
				display: none;
			}
			a {
				font-size: 1.2rem;
				color: #007f00;
				border-left: 1px solid #ddd;
				padding: 12px;
				margin: 0;
				display: inline-block;
				
				.telefone-completo, &.mail, {
					display: none;
				}
			}
		}
	}
}

nav.menu {
	background-color: #007f00;
	transition: height 0.5s cubic-bezier(.35,.98,.08,.95);
	>div>ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		margin-left: -12px;
		margin-right: -12px;
		>li {
			a {
				display: block;
				padding: 15px 12px;
				font-weight: 500;
				color: white;
				font-size: 1rem;
				line-height: 1em;
				border-bottom: 1px solid #036703;
				transition: background-color .2s;
				&:hover {
					background-color: #025202;
				}
				&.icondropdown:after {
					font-family: "font";
					font-style: normal;
					font-weight: normal;
					content: "\e804";
					float: right;
					margin-left: 0.5em;
				}
			}

			>ul {
				box-shadow: 0 2px 8px rgba(0,0,0,.18);
				visibility: hidden;
				position: absolute;
				z-index: 1001;
				opacity: 0;
				margin-left: 0;
				min-width: 230px;
				transition: opacity 0.2s cubic-bezier(1, 0, 0.58, 1);
				//transition: visibility 0s linear 0.2s, opacity 0.2s cubic-bezier(1, 0, 0.58, 1);
				top: 100% !important;
				left: 0 !important;
				background-color: #007f00;
				border: 1px solid #025202;
				&#servicos {
					min-width: 300px;
				}
				li {
					a {
						line-height: 0.7em;
					}
				}
			}
		}
	}
}


@media (max-width: $nav-collapse-width-max) {
	body {
		padding-top: 47px;
	}
	
	header {
		position: fixed;
		top: 0;
		width: 100%;
		background: transparent;
		.sup {
			background-color: rgba(255, 255, 255, .96);
		}
	}
	
	nav.menu {
		overflow: hidden;
		&.collapsed {
			height: 0;
		}
		>div>ul {
			overflow: hidden;
		}
	}
	div#search-responsive {
		width: 100%;
		border-top: 1px solid #ddd;
		text-align: center;
		overflow: hidden;
		background-color: white;
		transition: height 0.5s cubic-bezier(.35,.98,.08,.95);
		&.collapsed {
			height: 0;
		}
	}
}

@media (min-width: $nav-collapse-width-min), print {
	div#search-responsive {
		display: none;
	}
	header {
		.sup {
			a.brand img {
				height: 52px;
				width: auto;
			}
			.fone {
				form {
					display: inline-block;
				}
				a {
					border: 0;
					padding: 12px 0 12px 5px;
					&.mail, .telefone-completo {
						display: inline-block;
					}
					&.search, &.hamburguer {
						display: none;
					}
				}
			}
		}
	}
	
	nav.menu {
		display: block;
		>div>ul {
			text-align: left;
			>li {
				position: relative;
				display: inline-block;
				a {
					border-bottom: 0;
				}
				&:hover {
					>ul {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
}

.image-zoom-box {
	overflow: hidden;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0,0,0,.18);
	z-index: 1;
	border: 7px solid white;
	border-radius: 4px;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	transition: opacity .4s;
	img {
		position: absolute;
	}
}
.image-zoom-box-in {
	opacity: 1;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	transition-delay: .3s;
}
#image-zoom-box-square {
	position: absolute;
	z-index: 100;
	opacity: .5;
	background-color: white;
	pointer-events: none;
}

.image-select {
	padding-top: 15px;
	img {
		width: 60px;
		height: auto;
		padding: 7px;
		cursor: pointer;
		border: 1px solid white;
		transition: border-color .3s;
	}
	&.tres img {
		width: 50px;
	}
}

.pres .image-select img {
	&.active, &:hover {
		border: 1px solid $border-hover-color-pres;
	}
}

.temp .image-select img {
	&.active, &:hover {
		border: 1px solid $border-hover-color-temp;
	}
}

.sold .image-select img {
	&.active, &:hover {
		border: 1px solid $border-hover-color-sold;
	}
}


dl {
	padding: 0.5em;
	dt {
		float: left;
		clear: left;
		text-align: right;
		font-weight: bold;
		color: green;
		&::after {
			content: ":";
		}
	}
	&.m {
		dt {
			width: 100px;
		}
		dd {
			margin: 0 0 0 110px;
			padding: 0 0 0.5em 0;
		}
	}
	&.l {
		dt {
			width: 130px;
		}
		dd {
			margin: 0 0 0 140px;
			padding: 0 0 0.5em 0;
		}
	}
}

/* Compartilhado entre a lista de produtos e a página do produto */
.produto-opcoes {
	margin-top: 20px;
	a {
		display: inline-block;
		text-align: center;
		line-height: 1.5em;
		padding: 6px;
		color: #4b4f56;
		font-size: .93rem;
		border-radius: 7px;
		transition: border-color .3s, background-color .3s;
	}
}

.pres .produto-opcoes a {
	border: 1px solid $pres-color-normal;
	color: $pres-color-normal;
	&:hover {
		border: 1px solid $pres-color-normal;
		color: $pres-color-normal;
		background-color: $border-hover-color-pres;
	}
}

.temp .produto-opcoes a {
	border: 1px solid $temp-color-normal;
	color: $temp-color-normal;
	&:hover {
		border: 1px solid $temp-color-normal;
		color: $temp-color-normal;
		background-color: $border-hover-color-temp;
	}
}

.sold .produto-opcoes a {
	border: 1px solid $sold-color-normal;
	color: $sold-color-normal;
	&:hover {
		border: 1px solid $sold-color-normal;
		color: $sold-color-normal;
		background-color: $border-hover-color-sold;
	}
}

.empresa {
	padding-bottom: $padding-size;
	.row > div {
		min-height: 5rem;
		h2 {
			margin-top: 0;
		}
		ul {
			li {
				padding: 0;
			}
		}
	}
}

.servicos {
	padding-bottom: ($padding-size * 2);
	table {
		width: 100%;
		border-spacing: 0px;
		border-collapse: collapse;
		tr {
			th {
				color: #127112;
			}
			text-align: left;
			td, th {
				height: 50px;
				padding: 8px 8px;
				border: 1px solid #127112;
			}
		}
	}
}

.catalogos {
	h2 {
		margin-top: 0;
	}
}

.contato {
}

footer {
	background-color: #007f00;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	address {
		font-size: .9rem;
	}
	p.copyright {
		text-align: center;
		font-style: italic;
		font-size: .8rem;
	}
	.fone {
		text-align: right;
	}
}