@import "_vars.scss";
@import "_flickity.min.scss";

.carousel {
	height: 26vw;
	min-height: 300px;
}
.carousel-cell {
	width: 100%;
	height: 26vw;
	min-height: 300px;
	line-height: 2em;
	color: white;
	text-shadow: #000 1px 1px;
	h1 {
		background-color: rgba(0, 0, 0, 0.6);
		color: white;
		margin-top: 0.7em;;
		padding: 0.3em;
		display: inline-block;
		border-radius: 4px;
	}
	p {
		background-color: rgba(0, 0, 0, 0.6);
		font-size: 1.1em;
		line-height: 1.5rem;
		padding: 0.3em;
		border-radius: 4px;
	}
	
	a.btn {
		margin-top: 40px;
	}
}
.flickity-page-dots {
	bottom: 13px;
	.dot {
		background-color: white;
		opacity: .55;
	}
	.dot.is-selected {
		background-color: #007f00;
		opacity: 1;
	}
}
.flickity-prev-next-button {
	opacity: .55;
}
.flickity-prev-next-button:hover {
	opacity: .8;
}

.chopp {
	background: gray url("{{ site.baseurl }}{% link /imagens/banner-chopp.jpg %}") no-repeat bottom left;
	background-size: cover; }

.slide2 {
	background: gray url("{{ site.baseurl }}{% link /imagens/banner1.jpg %}") no-repeat bottom left;
	background-size: cover;
}

.slide3 {
	background: gray url("{{ site.baseurl }}{% link /imagens/banner0.jpg %}") no-repeat bottom left;
	background-size: cover;
}
.slide4 {
	background: gray url("{{ site.baseurl }}{% link /imagens/banner2.jpg %}") no-repeat bottom left;
	background-size: cover;
}
.slide5 {
	background: gray url("{{ site.baseurl }}{% link /imagens/banner3.jpg %}") no-repeat bottom left;
	background-size: cover;
}
@media(max-width: $sm-width-max) {
	.flickity-prev-next-button {
		display: none;
	}
}
@media (min-width: $sm-width-min) {
	.carousel-cell {
		p {
			max-width: 600px;
		}
		h1 {
			font-size: 2.5em;
		}
		p {
			font-size: 1.2em;
			line-height: 1.5rem;
		}
	}
}
.meio {
	padding: 35px 0 35px 0; /* top, right, bottom, left */
	h1 {
		margin-top: 0;
	}
	img {
		max-width: 100%;
	}
}

.produtos {
	background-color: #F2F2F2;
	padding: 50px 0 35px 0; /* top, right, bottom, left */
	h1 {
		margin-top: 0;
	}
	div.row {
		&> div {
			padding-left: 48px;
			span.fa-ok {
				position: absolute;
				margin-left: -37px;
			}
			h2 {
				margin-top: 0;
				font-size: 1.4em;
			}
			a:hover {
				color: $pres-color-normal-clara;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}


section.video-famabras {
	height: 350px;
	background-image: url("{{ site.baseurl }}{% link /imagens/video.jpg %}"); 
	background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&>div {
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.3);
		text-align: center;
		display: table;
		h1 {
			display: table-cell;
			vertical-align: middle;
			&>a {
				color: rgba(255, 255, 255, 0.90);
				&>span{
					font-size: 4.5rem;
				}
				&:hover {
					color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
	
	#video-modal {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.75);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		opacity: 0;
		pointer-events: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		&:target {
			opacity: 1;
			pointer-events: auto;
		}
		&>div {
			width: 100%;
			max-width: 1100px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 1em;
			background: black;
			color: white;
		}
	}

	a.modal-close {
		text-align: right;
		display: block;
		font-size: 2em;
		color: rgba(255, 255,255,.75);
		margin-bottom: 1rem;
		&:hover {
			color: white;
		}
	}
}
