@import "_vars.scss";
@import "_flickity.min.scss";
@import "_produto-menu-lateral.scss";

article {
	display: block;
	overflow: hidden;
	padding-left: 5px;
	h1 {
		margin-top: 0;
	}
	
	section.pres, section.temp, section.sold {
		border-top: 1px solid #f5f5f5;
		padding: 10px 0 10px 0; /* top, right, bottom, left */
		h2 {
			margin-top: 0;
		}
	}
}

.carousel {
	height: 200px;
	margin: 0 40px 0 40px;
}

.carousel-cell {
	height: 100%;
	width: 230px;
	text-align: center;
	vertical-align: top;
	margin: 0 10px 0 0; /* top, right, bottom, left */
	padding: 4px;
	a {
		display: inline-block;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
		transition: border-color .3s;
		display: block;
		border: 1px solid transparent;
		padding-top: 5px;
		&:hover {
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
		}
		.img {
			height: 140px;
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
			img {
				max-height: 120px;
				width: auto;
				position: absolute;
				top: -999px;
				bottom: -999px;
				left: -999px;
				right: -999px;
				margin: auto;
			}
		}
	}
	h3 {
		font-size: .85rem;
		border-top: 1px solid #ece9e9;
		margin: 0;
		padding: 5px;
	}
}

.pres .carousel-cell {
	a:hover {
		border-color: $pres-color-normal;
	}
}
.temp .carousel-cell { 
	a:hover {
		border-color: $temp-color-normal;
	}
}
.sold .carousel-cell {
	a:hover {
		border-color: $sold-color-normal;
	}
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  transition: background-color .2s;
}
.flickity-prev-next-button:hover {
  background-color: #ddd;
}
.flickity-prev-next-button .arrow {
  fill: #333;
}
.flickity-prev-next-button.no-svg {
  color: #333;
}
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}