@import "_vars.scss";

.produto {
	div.image {
		overflow: hidden;
		position: relative;
		>figure {
			position: relative;
			overflow: hidden;
			margin: 0;
			>img {
				cursor: zoom-in;
			}
			>figcaption {
				width: 190px;
				text-align: left;
				line-height: 1.1em;
				font-size: 0.69em;
				margin-top: 0.3em;
				margin-bottom: 0.7em;
			}
		}
	}


	.desc {
		position: relative;
		.image-zoom-box {
			width: 400px;
			height: 400px;
		}
		table {
			width: 80%;
			tr {
				td {
					padding: 4px;
					line-height: 1.5em;
					font-size: .9em;
				}
				td:first-child {
					width: 140px;
					text-align: center;
				}
				td:last-child {
					text-align: center;
				}
			}
		}
		ul {
			list-style-type: disc;
			margin-inline-start: 17px;
			padding: 0;					
		}
	}
	
	&.pres {
		.desc table tr {
			&:nth-child(odd) {
				background-color: #ccecd0;
			}
			&:nth-child(even) {
				background-color: rgb(242,250,242);
			}
		}
	}
	&.temp {
		.desc table tr {
			&:nth-child(odd) {
				background-color: #c8ecfc;
			}
			&:nth-child(even) {
				background-color: rgb(227,250,252);
			}
		}
	}
	&.sold {
		.desc table tr {
			&:nth-child(odd) {
				background-color: rgb(250,195,194);
			}
			&:nth-child(even) {
				background-color: rgb(254,233,224);
			}
		}
	}	
}
