@import "_vars.scss";
@import "_produto-menu-lateral.scss";

.lista {
	display: block;
	overflow: hidden;
	padding-left: 5px;
	h1 {
		margin-top: 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			display: inline-block;
			width: 230px;
			text-align: center;
			vertical-align: top;
			margin: 0 10px 15px 0; /* top, right, bottom, left */
			a {
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
				transition: border-color .3s;
				display: block;
				border: 1px solid transparent;
				padding-top: 5px;
				&:hover {
					box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
				}
				.img {
					height: 140px;
					position: relative;
					overflow: hidden;
					&:before {
						content: "";
						display: block;
						padding-top: 100%;
					}
					img {
						max-height: 120px;
						width: auto;
						position: absolute;
						top: -999px;
						bottom: -999px;
						left: -999px;
						right: -999px;
						margin: auto;
					}
				}
			}
			h2 {
				font-size: .95em;
				margin-bottom: 0;
				padding: 5px;
				border-top: 1px solid #ece9e9;
			}
		}
	}
}

.pres .lista ul li {
	a:hover {
		border-color: $pres-color-normal;
	}
}

.temp .lista ul li { 
	a:hover {
		border-color: $temp-color-normal;
	}
}

.sold .lista ul li {
	a:hover {
		border-color: $sold-color-normal;
	}
}