@import "_vars.scss";
@import "_produto-menu-lateral.scss";

.produtos {
	article {
		display: block;
		overflow: hidden;
		padding-left: 5px;
		h1 {
			margin-top: 0;
		}
		&> ul {
			list-style-type: none;
			padding: 0;
			&> li {
				clear: both;
				position: relative;
				padding: 30px 0 30px 0;
				display: inline-block;
				width: 100%;
				
				.image-zoom-box {
					width: 300px;
					height: 300px;
					margin-left: 190px;
					margin-top: -20px;
				}
				div.title {
					h2 {
						margin-top: 0;
					}
					h3 {
						margin-top: -8px;
					}
				}
				div.image {
					display: block;
					text-align: center;
					>figure {
						position: relative;
						overflow: hidden;
						margin: 0;
						>img {
							width: 160px;
							height: auto;
							cursor: zoom-in;
						}
						>figcaption {
							width: 160px;
							text-align: left;
							line-height: 1.1em;
							font-size: 0.69em;
							margin-top: 0.3em;
							margin-bottom: 0.7em;
						}
					}
				}
			
				.desc table {
					width: 100%;
					tr {
						td {
							padding: 4px;
							font-size: .9em;
						}
						td:first-child {
							width: 140px;
							text-align: center;
						}
						td:last-child {
							text-align: center;
						}
					}
				}
				
				.desc {
					ul {
						list-style-type: disc;
						margin-inline-start: 17px;
						padding: 0;					
					}
				}
			}
		}
	}
	
	li.pres {
		border-top: 1px solid #ccecd0;
		.desc table tr {
			&:nth-child(odd) {
				background-color: #ccecd0;
			}
			&:nth-child(even) {
				background-color: rgb(242,250,242);
			}
		}
	}
	li.temp {
		border-top: 1px solid #c8ecfc;
		.desc table tr {
			&:nth-child(odd) {
				background-color: #c8ecfc;
			}
			&:nth-child(even) {
				background-color: rgb(227,250,252);
			}
		}
	}
	li.sold {
		border-top: 1px solid rgb(250,195,194);
		.desc table tr {
			&:nth-child(odd) {
				background-color: rgb(250,195,194);
			}
			&:nth-child(even) {
				background-color: rgb(254,233,224);
			}
		}
	}
}

@media (min-width: $ss-width-min) {
	.produtos {
		article {
			&> ul > li {
				div.title {
					display: inline-block;
					h2 {
						margin-left: 30px;
					}
					h3 {
						margin-left: 30px;
					}
				}
				div.image {
					float: left;
				}
				.desc {
					margin-left: 190px;
				}
			}
		}
	}
}