---
cssfile: produto.css
layout: null
---
{% if page.url contains 'manometros/acessorios' %}
   {% assign cls="pres" %}
{% elsif page.url contains 'manometros' %}
   {% assign cls="pres" %}
{% elsif page.url contains 'termometros' %}
   {% assign cls="temp" %}
{% elsif page.url contains 'reguladores-de-pressao' %}
   {% assign cls="sold" %}
{% elsif page.url contains 'chopp/acessorios' %}
	{% assign cls="sold" %}
{% elsif page.url contains 'centrais-de-cilindros' %}
   {% assign cls="sold" %}
{% elsif page.url contains 'macaricos/solda' %}
	{% assign cls="sold" %}
{% elsif page.url contains 'macaricos/corte' %}
	{% assign cls="sold" %}
{% elsif page.url contains 'macaricos/cabeca-cortadora' %}
	{% assign cls="sold" %}
{% elsif page.url contains 'macaricos' %}
   {% assign cls="sold" %}
{% elsif page.url contains 'conjuntos-de-solda' %}
   {% assign cls="sold" %}
{% endif %}

{% if page.url contains 'manometros/standard' %}
	{% assign h1small = 'Linha Standard' %}

{% elsif page.url contains 'manometros/refrigeracao' %}
	{% assign h1small = 'Linha Refrigeração' %}

{% elsif page.url contains 'manometros/painel' %}
	{% assign h1small = 'Linha Painel - Uso Geral' %}
	
{% elsif page.url contains 'manometros/industrial-baixa-pressao' %}
	{% assign h1small = 'Linha Industrial - Baixa Pressão' %}

{% elsif page.url contains 'manometros/laboratorio' %}
	{% assign h1small = 'Linha Laboratório' %}

{% elsif page.url contains 'manometros/petroquimica' %}
	{% assign h1small = 'Linha Petroquímica' %}

{% elsif page.url contains 'manometros/diferencial' %}
	{% assign h1small = 'Linha Diferencial' %}

{% elsif page.url contains 'termometros/bimetal-industrial' %}
	{% assign h1small = 'Linha Bimetal Industrial' %}

{% elsif page.url contains 'termometros/bimetal-petroquimica' %}
	{% assign h1small = 'Linha Bimetal Petroquímica' %}

{% elsif page.url contains 'termometros/bimetal-frigorifico' %}
	{% assign h1small = 'Linha Bimetal Frigorífico' %}

{% elsif page.url contains 'termometros/capilar-inox' %}
	{% assign h1small = 'Linha Capilar Inox' %}

{% elsif page.url contains 'termometros/capilar-industrial' %}
	{% assign h1small = 'Linha Capilar Industrial' %}

{% elsif page.url contains 'termometros/capilar-refrigeracao' %}
	{% assign h1small = 'Linha Capilar Refrigeração' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-ri-industrial' %}
	{% assign h1small = 'Série RI - Industrial' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-10-ar-comprimido' %}
	{% assign h1small = 'Série 10 - Ar Comprimido' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-glp' %}
	{% assign h1small = 'Série GLP / Gás Natural' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-100' %}
	{% assign h1small = 'Série 100' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-200-posto' %}
	{% assign h1small = 'Série 200 - Posto' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-300-duplo-estagio' %}
	{% assign h1small = 'Série 300 - Duplo Estágio' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-laboratorio' %}
	{% assign h1small = 'Série Laboratório' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-fluxometro' %}
	{% assign h1small = 'Série Fluxômetro' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-medicinal' %}
	{% assign h1small = 'Série Medicinal' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-alta-pressao' %}
	{% assign h1small = 'Série Alta Pressão' %}

{% elsif page.url contains 'reguladores-de-pressao/serie-alta-vazao' %}
	{% assign h1small = 'Série Alta Vazão' %}

{% elsif page.url contains 'centrais-de-cilindros/serie-industrial' %}
	{% assign h1small = 'Série Industrial' %}

{% elsif page.url contains 'centrais-de-cilindros/serie-laboratorio' %}
	{% assign h1small = 'Série Laboratório' %}

{% elsif page.url contains 'reguladores-de-pressao-chopp-e-post-mix/regulador-de-pressao' %}
	{% assign h1small = 'Série 400 - Post-Mix e Chopp' %}

{% elsif page.url contains 'macaricos/solda' %}
	{% assign h1small = '' %}

{% elsif page.url contains 'macaricos/corte' %}
	{% assign h1small = '' %}

{% elsif page.url contains 'macaricos/cabeca-cortadora' %}
	{% assign h1small = '' %}
	
{% elsif page.url contains 'conjuntos-de-solda/serie-millennium' %}
	{% assign h1small = 'Série Millennium' %}

{% endif %}

{% include top.html %}
{% include breadcrumb.html %}

{% assign p = page %}

{% assign produto = '' %}
{% if p.title-lista %}
	{% assign produto = p.title-lista %}
{% else %}
	{% assign produto = p.title %}
{% endif %}

<main class="produto {{ cls }}">
	<section class="container">
		<div class="row">
			<div class="col-m-4">
				<div class="image">
					<figure>
						<img id="img-slide"
							class="image-zoom" 
							src="{{ site.baseurl }}/imagens/{{ page.imagem }}-2.jpg" 
							alt="" 
							data-zoom-img="{{ site.baseurl }}/imagens/{{ page.imagem }}-3.jpg"
							data-zoom-dest="img-zoom">
						{% if p.imagem-title %}<figcaption>{{ p.imagem-title | escape }}</figcaption>{% endif %}
					</figure>
					{% if p.imagem2 %}
						<div class="image-select">
							<img class="slide-select active" src="{{ site.baseurl }}/imagens/{{ p.imagem }}-t.jpg"
								data-slide-img="{{ site.baseurl }}/imagens/{{ p.imagem }}-2.jpg"
								data-slide-dest="img-slide"
								data-slide-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem }}-3.jpg"
								alt=""
								{% if p.imagem-title %}title="{{ p.imagem-title | escape }}"{% endif %}>
							<img class="slide-select"
								src="{{ site.baseurl }}/imagens/{{ p.imagem2 }}-t.jpg"
								data-slide-img="{{ site.baseurl }}/imagens/{{ p.imagem2 }}-2.jpg"
								data-slide-dest="img-slide"
								data-slide-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem2 }}-3.jpg"
								alt=""
								{% if p.imagem2-title %}title="{{ p.imagem2-title | escape }}"{% endif %}>
						
							{% if p.imagem3 %}
							<img class="slide-select"
								src="{{ site.baseurl }}/imagens/{{ p.imagem3 }}-t.jpg"
								data-slide-img="{{ site.baseurl }}/imagens/{{ p.imagem3 }}-2.jpg"
								data-slide-dest="img-slide"
								data-slide-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem3 }}-3.jpg"
								alt=""
								{% if p.imagem3-title %}title="{{ p.imagem3-title | escape }}"{% endif %}>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
			<div class="col-m-8 desc">
				<div class="image-zoom-box" id="img-zoom"></div>
				<h1><span {% if p.novo %}class="novo"{% endif %}>{{ produto | escape }}</span><br><span class="small">{{ h1small }}</span></h1>
				{% if p.subtitle %}<h3>{{p.subtitle}}</h3>{% endif %}
				<p>{{ p.descricao | escape }}</p>
				{% if p.descricao2 %}
					<p>{{ p.descricao2 }}</p>
				{% endif %}
				{%if cls != 'sold' %}
					<h2>Características Técnicas</h2>
				{% endif %}
				<table>
					<tbody>
					{% if p.diametro %}
						<tr>
							<td>Diâmetro</td>
							<td>{{ p.diametro | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
						</tr>
					{% endif %}

					{% if p.caixa %}
						<tr>
							<td>Caixa</td>
							<td>{{ p.caixa | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
						</tr>
					{% endif %}

					{% if p.internos %}
						<tr>
							<td>Internos</td>
							<td>{{ p.internos | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
						</tr>
					{% endif %}
					
					{% if p.haste %}
						<tr>
							<td>Haste / Conexão</td>
							<td>{{ p.haste | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
						</tr>
					{% endif %}
					
					{% if p.capilar %}
						<tr>
							<td>Capilar</td>
							<td>{{ p.capilar | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
						</tr>
					{% endif %}

					{% if p.visor %}
						<tr>
							<td>Visor</td>
							<td>{{ p.visor | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
						</tr>
					{% endif %}

					{% if p.enchimento %}
						<tr>
							<td>Enchimento</td>
							<td>{{ p.enchimento | escape }}</td>
						</tr>
					{% endif %}
					
					{% if p.conexao %}
						<tr>
							<td>Conexão</td>
							<td>{{ p.conexao | escape | replace: "&lt;br&gt;", "<br>" }}</td>
						</tr>
					{% endif %}

					{% if p.pressaoestatica %}
						<tr>
							<td>Pressão Estática</td>
							<td>{{ p.pressaoestatica | escape}}</td>
						</tr>
					{% endif %}
					
					{% if p.opcional %}
						<tr>
							<td>Opcional</td>
							<td>{{ p.opcional | escape}}</td>
						</tr>
					{% endif %}

					</tbody>
				</table>
				<ul>
					{% if p.fluido %}
						<li>Fluido de Trabalho: {{ p.fluido | replace: "(CO2)", '(CO<sub>2</sub>)' | replace: "(H2)", '(H<sub>2</sub>)' | replace: "(O2)", '(O<sub>2</sub>)' | replace: "(N2)", '(N<sub>2</sub>)' | replace: "(C2H2)", '(C<sub>2</sub>H<sub>2</sub>)' }}</li>
					{% endif %}
					{% if p.uso %}
						<li>Uso {{ p.uso | escape }}</li>
					{% endif %}
					{% if p.linha1 %}
						<li>{{ p.linha1 | escape }}</li>
					{% endif %}
					{% if p.linha2 %}
						<li>{{ p.linha2 | escape }}</li>
					{% endif %}
					{% if p.linha3 %}
						<li>{{ p.linha3 | escape }}</li>
					{% endif %}
					{% if p.linha4 %}
						<li>{{ p.linha4 | escape }}</li>
					{% endif %}
					{% if p.linha5 %}
						<li>{{ p.linha5 | escape }}</li>
					{% endif %}
					{% if p.linha6 %}
						<li>{{ p.linha6 | escape }}</li>
					{% endif %}
					{% if p.vazao %}
						<li>Vazão Máxima: {{ p.vazao | escape }}</li>
					{% endif %}
				</ul>
				{% if p.subtitle %}
					{% assign produto = produto | append: " - " | append: p.subtitle %}
				{% endif %}
				<div class="produto-opcoes">
					{% capture mailto %}Orçamento {{ produto | escape }}{% endcapture %}
					<a class="mail" href="mailto:vendas@famabras.com.br?subject={{ mailto | uri_escape }}" 
						title="Solicitar Orçamento {{ produto | escape }}" onClick="ga('send', 'event', 'orcamentos', 'clique');"><span class="fa-mail"></span> Orçamento</a>
					{% if p.pdf %}
						<a class="pdf" href="{{ site.baseurl }}/pdf/{{ p.pdf }}" rel="nofollow" target="_blank" 
							title="Ficha Técnica {{ produto | escape }}"><span class="fa-file-pdf"></span> Ficha Técnica</a>
					{% endif %}
					{% if page.url contains 'manometros-disabled' %}
						<a class="especificar" href="{{ site.baseurl }}/pdf/{{ p.pdf }}" rel="nofollow" target="_blank" 
							title="Saiba como especificar Manômetros"><span class="fa-question-circle-o"></span> Como Especificar</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
</main>
<script>
{%- include util.js -%}
{%- include zoom.js -%}
{%- include slide.js -%}
zoom();
slide();
</script>
{% include bottom.html %}