---
cssfile: produto-lista.css
layout: default
---
{% if page.url contains 'manometros' %}
   {% assign cls="pres" %}
{% elsif page.url contains 'termometros' %}
   {% assign cls="temp" %}
{% elsif page.url contains 'reguladores-de-pressao' %}
   {% assign cls="sold" %}
{% elsif page.url contains 'chopp' %}
	{% assign cls="sold" %}
{% elsif page.url contains 'centrais-de-cilindros' %}
   {% assign cls="sold" %}
{% elsif page.url contains 'macaricos' %}
   {% assign cls="sold" %}
{% elsif page.url contains 'conjuntos-de-solda' %}
   {% assign cls="sold" %}
{% endif %}

{% include breadcrumb.html %}

<main class="produtos {{ cls }}">
	<div class="container">
		{% include produtos-lateral.html %}
		<article>
			<h1>{{ page.title }}</h1> <!-- a {{ h1 }}<br><span class="small"> {{ h1small }}</span></h1>-->
			<ul>
			{% assign items = site.produtos | where: "linha", page.lista-linha-filter %}
			{% for p in items %}
				{% assign produto = '' %}
				{% if p.title-lista %}
					{% assign produto = p.title-lista %}
				{% else %}
					{% assign produto = p.title %}
				{% endif %}

				<li class="{{ cls }}">
					<div class="image-zoom-box" id="img-{{ forloop.index }}"></div>
					<div class="title">
						<h2 {% if p.novo %}class="novo"{% endif %}>{{ produto | escape }}</h2>
						{% if p.subtitle %}<h3>{{p.subtitle}}</h3>{% endif %}
					</div>
					<div class="image">
						<figure>
							<img id="img-slide-{{ forloop.index }}"
								class="image-zoom"
								src="{{ site.baseurl }}/imagens/{{ p.imagem }}-1.jpg" 
								alt="" 
								data-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem }}-3.jpg"
								data-zoom-dest="img-{{ forloop.index }}">
							{% if p.imagem-title %}<figcaption>{{ p.imagem-title | escape }}</figcaption>{% endif %}
						</figure>
							
						{% if p.imagem2 %}
							<div class="image-select{%- if p.imagem3 %} tres{%- endif -%}">
								<img class="slide-select active" src="{{ site.baseurl }}/imagens/{{ p.imagem }}-t.jpg"
									data-slide-img="{{ site.baseurl }}/imagens/{{ p.imagem }}-1.jpg"
									data-slide-dest="img-slide-{{ forloop.index }}"
									data-slide-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem }}-3.jpg"
									alt=""
									{% if p.imagem-title %}title="{{ p.imagem-title | escape }}"{% endif %}>
								<img class="slide-select"
									src="{{ site.baseurl }}/imagens/{{ p.imagem2 }}-t.jpg"
									data-slide-img="{{ site.baseurl }}/imagens/{{ p.imagem2 }}-1.jpg"
									data-slide-dest="img-slide-{{ forloop.index }}"
									data-slide-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem2 }}-3.jpg"
									alt=""
									{% if p.imagem2-title %}title="{{ p.imagem2-title | escape }}"{% endif %}>
									
								{% if p.imagem3 %}
								<img class="slide-select"
									src="{{ site.baseurl }}/imagens/{{ p.imagem3 }}-t.jpg"
									data-slide-img="{{ site.baseurl }}/imagens/{{ p.imagem3 }}-1.jpg"
									data-slide-dest="img-slide-{{ forloop.index }}"
									data-slide-zoom-img="{{ site.baseurl }}/imagens/{{ p.imagem3 }}-3.jpg"
									alt=""
									{% if p.imagem3-title %}title="{{ p.imagem3-title | escape }}"{% endif %}>
								{% endif %}
							</div>
						{% endif %}
					</div>
					<div class="desc">
						<table>
							<tbody>
							{% if p.diametro %}
								<tr>
									<td>Diâmetro</td>
									<td>{{ p.diametro | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
								</tr>
							{% endif %}

							{% if p.caixa %}
								<tr>
									<td>Caixa</td>
									<td>{{ p.caixa | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
								</tr>
							{% endif %}

							{% if p.internos %}
								<tr>
									<td>Internos</td>
									<td>{{ p.internos | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
								</tr>
							{% endif %}
							
							{% if p.haste %}
								<tr>
									<td>Haste / Conexão</td>
									<td>{{ p.haste | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
								</tr>
							{% endif %}
							
							{% if p.capilar %}
								<tr>
									<td>Capilar</td>
									<td>{{ p.capilar | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
								</tr>
							{% endif %}

							{% if p.visor %}
								<tr>
									<td>Visor</td>
									<td>{{ p.visor | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</td>
								</tr>
							{% endif %}

							{% if p.enchimento %}
								<tr>
									<td>Enchimento</td>
									<td>{{ p.enchimento | escape }}</td>
								</tr>
							{% endif %}
							
							{% if p.conexao %}
								<tr>
									<td>Conexão</td>
									<td>{{ p.conexao | escape | replace: "&lt;br&gt;", "<br>" }}</td>
								</tr>
							{% endif %}

							{% if p.pressaoestatica %}
								<tr>
									<td>Pressão Estática</td>
									<td>{{ p.pressaoestatica | escape}}</td>
								</tr>
							{% endif %}
							
							{% if p.opcional %}
								<tr>
									<td>Opcional</td>
									<td>{{ p.opcional | escape}}</td>
								</tr>
							{% endif %}

							</tbody>
						</table>
						<ul>
							{% if p.fluido %}
								<li>Fluido de Trabalho: {{ p.fluido | replace: "(CO2)", '(CO<sub>2</sub>)' | replace: "(H2)", '(H<sub>2</sub>)' | replace: "(O2)", '(O<sub>2</sub>)' | replace: "(N2)", '(N<sub>2</sub>)' | replace: "(C2H2)", '(C<sub>2</sub>H<sub>2</sub>)' }}</li>
							{% endif %}
							{% if p.uso %}
								<li>Uso {{ p.uso | escape }}</li>
							{% endif %}
							{% if p.linha1 %}
								<li>{{ p.linha1 | escape | replace: "Ø", '<abbr title="Diâmetro">Ø</abbr>' }}</li>
							{% endif %}
							{% if p.linha2 %}
								<li>{{ p.linha2 | escape }}</li>
							{% endif %}
							{% if p.linha3 %}
								<li>{{ p.linha3 | escape }}</li>
							{% endif %}
							{% if p.linha4 %}
								<li>{{ p.linha4 | escape }}</li>
							{% endif %}
							{% if p.linha5 %}
								<li>{{ p.linha5 | escape }}</li>
							{% endif %}
							{% if p.linha6 %}
								<li>{{ p.linha6 | escape }}</li>
							{% endif %}
							{% if p.vazao %}
								<li>Vazão Máxima: {{ p.vazao | escape }}</li>
							{% endif %}
						</ul>
						{% if p.subtitle %}
							{% assign produto = produto | append: " - " | append: p.subtitle %}
						{% endif %}
						<div class="produto-opcoes">
							{% capture mailto %}Orçamento {{ produto | escape }}{% endcapture %}
							<a class="mail" href="mailto:vendas@famabras.com.br?subject={{ mailto | uri_escape }}" 
								title="Solicitar orçamento para {{ produto | escape }}" onClick="ga('send', 'event', 'orcamentos', 'clique');"><span class="fa-mail"></span> Orçamento</a>
							{% if p.pdf %}
								<a class="pdf" href="{{ site.baseurl }}/pdf/{{ p.pdf }}" rel="nofollow" target="_blank"
									title="Visualizar ficha técnica {{ produto | escape }}"><span class="fa-file-pdf"></span> Ficha Técnica</a>
							{% endif %}
							<a href="{{ site.baseurl }}{{ p.url }}" title="Mais informações {{ produto | escape }}"><span class="fa-right-dir"></span> Mais Informações</a>

							{% if page.url contains 'manometros-disabled' %}
								<a class="especificar" href="{{ site.baseurl }}/pdf/{{ p.pdf }}" rel="nofollow" target="_blank" 
									title="Saiba como especificar manômetros, manovacuômetros e vacuômetros"><span class="fa-question-circle-o"></span> Como Especificar</a>
							{% endif %}
							{% if page.url contains 'termometros-disabled' %}
								<a class="especificar" href="{{ site.baseurl }}/pdf/{{ p.pdf }}" rel="nofollow" target="_blank" 
									title="Saiba como especificar termômetros"><span class="fa-question-circle-o"></span> Como Especificar</a>
							{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</article>
	</div>
</main>
<script>
{%- include zoom.js -%}
{%- include slide.js -%}
zoom();
slide();
</script>